node-red/20180312-Profils.json
[{"id":"6d6edb75.a49a64","type":"tab","label":"Principal"},{"id":"154c191e.a1f90f","type":"tab","label":"Front End HTML"},{"id":"6207ccd8.624d3c","type":"tab","label":"F-E Dashboard","disabled":false,"info":""},{"id":"69d36efd.f5d708","type":"tab","label":"Vocal","disabled":false},{"id":"ed7f8d40.3443f","type":"subflow","name":"Définition des constantes","info":"","in":[{"x":100,"y":40,"wires":[{"id":"e4afea0.34bb198"}]}],"out":[]},{"id":"2f76bb1a.0c9434","type":"subflow","name":"Calcul trajet Navitia","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5d81e9e.de32918"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"e16dc6e1.353678","port":0}]}]},{"id":"d961e0bb.c479d8","type":"subflow","name":"Profil","info":"Gestion du profil voyageur","in":[{"x":40,"y":40,"wires":[{"id":"92ef3b60.206fd"}]}],"out":[{"x":440,"y":40,"wires":[{"id":"92ef3b60.206fd","port":0}]}]},{"id":"eb875026.03502","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"FaciTrajet","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":150,"sy":75,"gx":0,"gy":0,"cx":0,"cy":0,"px":0,"py":0}}},{"id":"f2dafee3.0e54d8","type":"ui_group","z":"","name":"Destination","tab":"c01ded9d.c87a6","order":1,"disp":true,"width":"5","collapse":false},{"id":"cd859f56.94aff","type":"ui_tab","z":"","name":"TabUI_2","icon":"dashboard","order":1},{"id":"e4c57225.0362d8","type":"ui_group","z":"","name":"Votre trajet","tab":"cd859f56.94aff","order":1,"disp":false,"width":"5","collapse":false},{"id":"78b99b7f.7ff43c","type":"ui_tab","z":"","name":"TabUI_3","icon":"dashboard","order":3},{"id":"c2802392.ac4ff8","type":"ui_group","z":"","name":"Trajet calculé","tab":"78b99b7f.7ff43c","order":1,"disp":true,"width":"5","collapse":false},{"id":"956ae9a7.f00c38","type":"ui_tab","z":"","name":"TabUI_4","icon":"dashboard","order":4},{"id":"c01ded9d.c87a6","type":"ui_tab","z":"","name":"TabUI_1","icon":"dashboard","order":2},{"id":"85d23674.57052","type":"ui_group","z":"","name":"Profil","tab":"956ae9a7.f00c38","disp":true,"width":"6","collapse":false},{"id":"57f0e53.37a259c","type":"ui_tab","z":"","name":"TabUI_0","icon":"dashboard"},{"id":"4a1b1fcf.7cb158","type":"ui_group","z":"","name":"Accueil","tab":"57f0e53.37a259c","disp":true,"width":"6","collapse":false},{"id":"e42679db.33eba8","type":"inject","z":"6d6edb75.a49a64","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["90d9c67e.0e3878","9a72f3a3.3acf5"]]},{"id":"5d81e9e.de32918","type":"function","z":"2f76bb1a.0c9434","name":"Heure-date","func":"\n// Create a Date object\nvar now = Date.now();\n// Départ dans 5 minutes soit 300s soit 300_000ms\nvar date = new Date(now+300000);\n// Change the payload to be a formatted Date string (format attendu par API Navitia)\nmsg.date = date.toISOString()\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":40,"wires":[["d6042be.79c05d8"]]},{"id":"e16dc6e1.353678","type":"http request","z":"2f76bb1a.0c9434","name":"Calcul Trajet Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/journeys?from={{start}}&to={{dest}}&datetime={{date}}&max_nb_journeys=1&forbidden_uris[]={{interdit}}&disable_geojson=True","tls":"","x":400,"y":80,"wires":[[]]},{"id":"cae98aff.d5992","type":"function","z":"6d6edb75.a49a64","name":"Init et Entrée Destination","func":"global.set(\"DestiTrouve\",\"\");\nglobal.set(\"NomDestiTrouve\",\"\");\nmsg.dest = {};\n//msg.dest = 'stop_point:STA:SP:5020';\n//msg.dest = \"Republique\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["30cc1859.894098"]]},{"id":"5c120c97.36ced4","type":"function","z":"6d6edb75.a49a64","name":"Brique Julien JSON","func":"// A ECRIRE\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1287,"wires":[[]]},{"id":"e4afea0.34bb198","type":"function","z":"ed7f8d40.3443f","name":"CONST Empl. Borne","func":"// Définit l'emplacement de la borne \n// Utilisable comme le point de départ\n// accessible à tous les nodes\nglobal.set(\"emplacement\", \"stop_point:STA:SP:1536\");\nglobal.set(\"NomEmplacement\", \"Clos Courtel (Rennes)\");\n//Arrêt : Clos Courtel (Rennes)\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["55998f89.b337c"]]},{"id":"6cc0259c.12515c","type":"exec","z":"6d6edb75.a49a64","command":"pcsc_scan -n","addpay":false,"append":"","useSpawn":"true","timer":"","name":"Détection Carte","x":140,"y":120,"wires":[["b77709c9.14f66"],[],[]]},{"id":"6df886e2.8883a","type":"function","z":"6d6edb75.a49a64","name":"Comparaison Profil/parcours","func":"// s'inspirer de \n//http://doc.navitia.io/#journey-qualification-process\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1320,"wires":[["5c120c97.36ced4"]]},{"id":"2930151b.0709ba","type":"exec","z":"6d6edb75.a49a64","command":"echo \"Impression\"","addpay":true,"append":"","useSpawn":true,"timer":"","name":"Impression locale","x":250,"y":1360,"wires":[[],[],[]]},{"id":"2a468e56.df0cc2","type":"file","z":"6d6edb75.a49a64","name":"Ecriture Fichier Julien","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":360,"y":1240,"wires":[]},{"id":"8ccb8deb.018d28","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":447,"wires":[["39082268.70a46e"]]},{"id":"39082268.70a46e","type":"http request","z":"6d6edb75.a49a64","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":480,"wires":[["8c8e588a.12cdf","27bda0b7.eef5d8"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"b77709c9.14f66","type":"switch","z":"6d6edb75.a49a64","name":"Filtre Insertion/retrait","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inserted","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":120,"wires":[["9a72f3a3.3acf5"],["9a72f3a3.3acf5"]]},{"id":"caabecd1.91a61","type":"comment","z":"6d6edb75.a49a64","name":"Recherche Dest","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":100,"y":360,"wires":[]},{"id":"b80a3963.99ce7","type":"function","z":"6d6edb75.a49a64","name":"Points Dep-Arr","func":"msg.dest = {};\n\nmsg.dest = msg.payload.places[0].id;\n\nvar depart = global.get(\"emplacement\");\nmsg.start = {};\nmsg.start = depart;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":540,"wires":[["f152b0a1.11028"]]},{"id":"55998f89.b337c","type":"function","z":"ed7f8d40.3443f","name":"CONST Token Navitia","func":"\n// Définit le token d'appel Navitia\n// accessible à tous les nodes\nglobal.set(\"TokenNavitia\", \"dea0d6a8-7c09-40d7-b9a3-7c19f9f57ef7\");\n\nmsg.payload = 'on est partis !'\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["7c6da27c.db56fc"]]},{"id":"d6042be.79c05d8","type":"function","z":"2f76bb1a.0c9434","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["e16dc6e1.353678"]]},{"id":"fb2de494.5f2138","type":"http in","z":"154c191e.a1f90f","name":"/test","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":137,"y":131,"wires":[["b623bb68.128b3"]]},{"id":"8ec277a7.15229","type":"http response","z":"154c191e.a1f90f","name":"Réponse HTTP","statusCode":"","headers":{},"x":580,"y":160,"wires":[]},{"id":"68758aac.0f989c","type":"comment","z":"154c191e.a1f90f","name":"Essai FrontEnd requetes","info":"","x":198,"y":94,"wires":[]},{"id":"30cc1859.894098","type":"join","z":"6d6edb75.a49a64","name":"Synchro demande","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":320,"wires":[["c451894b.2a6cc"]]},{"id":"c451894b.2a6cc","type":"switch","z":"6d6edb75.a49a64","name":"Filtre Bon Ordre","property":"payload[1]","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":320,"wires":[["e1292d93.d10d58"]]},{"id":"e1292d93.d10d58","type":"function","z":"6d6edb75.a49a64","name":"Format Dest","func":"msg.dest = msg.payload[1];\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":407,"wires":[["8ccb8deb.018d28"]]},{"id":"734e169a.b49cc8","type":"function","z":"6d6edb75.a49a64","name":"GLOBAL Dest trouvée","func":"// accessible à tous les nodes\nglobal.set(\"DestiTrouve\", msg.payload.places[0]);\nglobal.set(\"NomDestiTrouve\", msg.payload.places[0].name);\nmsg.payload = msg.payload.places[0].name\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["f5950f47.b73668"]]},{"id":"5fbd6132.1d2bb","type":"play audio","z":"69d36efd.f5d708","name":"TTS","voice":"5","x":630,"y":200,"wires":[]},{"id":"5f64e6b7.1c9f5","type":"function","z":"69d36efd.f5d708","name":"TrajetFourni","func":"depart = global.get(\"NomEmplacement\")\narrive = global.get(\"NomDestiTrouve\")\nmsg.payload = \"Le trajet entre \" + depart + \" et \" + arrive + \" a été fourni.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["81d94eed.fbaac8"]]},{"id":"273456e3.6537f2","type":"link in","z":"69d36efd.f5d708","name":"Trajet Fourni V","links":["6255c3c2.885954","d68a0037.c3916","e340b4e4.b1f508"],"x":135,"y":280,"wires":[["5f64e6b7.1c9f5"]]},{"id":"86499045.b4c1d","type":"link in","z":"69d36efd.f5d708","name":"Dest Demandée V","links":["73fc9aa3.510014","ed15a796.da732"],"x":135,"y":140,"wires":[["3514770a.5ccd88"]]},{"id":"3514770a.5ccd88","type":"function","z":"69d36efd.f5d708","name":"Dest demandée","func":"msg.payload = \"La destination demandée est \" + msg.payload ;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["81d94eed.fbaac8"]]},{"id":"f5950f47.b73668","type":"link out","z":"6d6edb75.a49a64","name":"Dest Trouvée","links":["34827ccd.618624","b4854be9.fab418"],"x":675,"y":500,"wires":[]},{"id":"2353fec2.4e8c72","type":"http in","z":"154c191e.a1f90f","name":"/at","url":"/at","method":"get","swaggerDoc":"","x":130,"y":380,"wires":[["faa3394b.af8bf8"]]},{"id":"50b54e38.44248","type":"http response","z":"154c191e.a1f90f","name":"Affiche Dest Trouvée","x":660,"y":380,"wires":[]},{"id":"427d0197.a4d898","type":"comment","z":"154c191e.a1f90f","name":"Dest trouvée","info":"Affichage de la destination trouvée\nà partir de l'indication Usager","x":150.5555419921875,"y":338.8888854980469,"wires":[]},{"id":"34827ccd.618624","type":"link in","z":"69d36efd.f5d708","name":"Dest Trouvée V","links":["f5950f47.b73668"],"x":135,"y":200,"wires":[["cc413a49.4852b"]]},{"id":"cc413a49.4852b","type":"function","z":"69d36efd.f5d708","name":"Dest Trouvée","func":"msg.payload = \"La destination trouvée est \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["81d94eed.fbaac8"]]},{"id":"2ac66886.80ec1","type":"http request","z":"6d6edb75.a49a64","name":"DataExplore","method":"GET","ret":"obj","url":"https://data.explore.star.fr/api/records/1.0/search//?dataset=tco-metro-equipements-etat-tr&q={{station}}&lang=fr&rows=100","tls":"","x":130,"y":760,"wires":[["cebf3932.5146e"]]},{"id":"f5d0d690.f73358","type":"http in","z":"154c191e.a1f90f","name":"Input Usager /a?dest=","url":"/a","method":"get","swaggerDoc":"","x":180,"y":260,"wires":[["d83701bb.222aa8","bd9cbd8c.04033","e7d20169.0c252"]]},{"id":"88de739.441a99","type":"http response","z":"154c191e.a1f90f","name":"Affiche Dest demandée","x":731,"y":281,"wires":[]},{"id":"d83701bb.222aa8","type":"template","z":"154c191e.a1f90f","name":"Demande","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La destination demandée est : {{payload.dest}} . <br>\nLa destination trouvée par la borne sera ici : <a href=/at> destination trouvée </a>","x":501,"y":281,"wires":[["88de739.441a99"]]},{"id":"73fc9aa3.510014","type":"link out","z":"154c191e.a1f90f","name":"Dest Demand","links":["86499045.b4c1d"],"x":636,"y":241,"wires":[]},{"id":"bd9cbd8c.04033","type":"template","z":"154c191e.a1f90f","name":"Dest Demandée","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.dest}}","x":521,"y":241,"wires":[["73fc9aa3.510014"]]},{"id":"7d9563be.b8819c","type":"comment","z":"154c191e.a1f90f","name":"Dest Demandée","info":"","x":160,"y":220,"wires":[]},{"id":"e7d20169.0c252","type":"link out","z":"154c191e.a1f90f","name":"DestInput","links":["8a8be081.4bc84"],"x":455,"y":320,"wires":[]},{"id":"8a8be081.4bc84","type":"link in","z":"6d6edb75.a49a64","name":"Dest Input","links":["39373249.57e8a6","e7d20169.0c252"],"x":245,"y":280,"wires":[["30cc1859.894098"]]},{"id":"d7e2e255.4684e8","type":"inject","z":"154c191e.a1f90f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":480,"wires":[["722edb06.533adc"]]},{"id":"cc746c33.d3556","type":"comment","z":"154c191e.a1f90f","name":"Lancement serveur","info":"Un serveur HTTP simple se lance \nen python sur le port 8000\nau démarrage du flow,\npour servir les pages de front-end \nrangées dans le dossier /home/facitrajet/Site-Facitrajet","x":169,"y":440,"wires":[]},{"id":"722edb06.533adc","type":"exec","z":"154c191e.a1f90f","command":"cd /home/facitrajet/Site-Facitrajet","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Serveur HTTP && python -m SimpleHTTPServer","x":440,"y":480,"wires":[[],["71aa13c0.cb2434"],["71aa13c0.cb2434"]]},{"id":"81d94eed.fbaac8","type":"template","z":"69d36efd.f5d708","name":"On Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":470,"y":200,"wires":[["e3cf27b0.8428f8"]]},{"id":"faa3394b.af8bf8","type":"function","z":"154c191e.a1f90f","name":"Nom DestiTrouve + Lien Ticket","func":"msg.payload = \"La destination trouvée est : \" + global.get(\"DestiTrouve\").name + \". <br><a href=http://192.168.0.11:3000> lien vers le ticket </a>\";\n//http://192.168.0.11:3000/\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["50b54e38.44248"]]},{"id":"71aa13c0.cb2434","type":"debug","z":"154c191e.a1f90f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":540,"wires":[]},{"id":"b0c1e246.0ba0d8","type":"function","z":"6d6edb75.a49a64","name":"Google Voice AIY","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":280,"wires":[[]]},{"id":"411041d6.da6158","type":"rpi-gpio in","z":"6d6edb75.a49a64","name":"Bouton Physique","pin":"16","intype":"tri","debounce":"25","read":false,"x":140,"y":160,"wires":[["b77709c9.14f66"]],"icon":"node-red-dashboard/ui_button.png"},{"id":"25938423.5ce434","type":"ui_text","z":"6207ccd8.624d3c","group":"e4c57225.0362d8","order":1,"width":0,"height":0,"name":"Destination demandée","label":"Destination demandée :","format":"{{msg.payload}}","layout":"col-center","x":560,"y":240,"wires":[]},{"id":"f7b665a5.c30c9","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"Tab suivant","x":530,"y":160,"wires":[[]]},{"id":"329c84df.3d5abc","type":"function","z":"6d6edb75.a49a64","name":"Decoupe Stations M","func":"sections = msg.payload.journeys[0].sections;\nj = sections.length;\nmsg.metro = false;\nmsg.panne = false;\n\nfor (i = 0; i<j; i++) {\n    if (typeof sections[i].display_informations !== 'undefined'){\n\n        if (sections[i].display_informations.physical_mode == \"Métro\") {\n            node.send({station:sections[i].from.stop_point.name, metro:true});\n            node.send({station:sections[i].to.stop_point.name, metro:true});\n            msg.metro = true;\n        }\n            \n        \n    }\n}\n//si aucune section en métro, retourner le message\nif (!msg.metro){return msg;}","outputs":1,"noerr":0,"x":160,"y":710,"wires":[["4ae30d4d.a3f70c"]]},{"id":"cebf3932.5146e","type":"function","z":"6d6edb75.a49a64","name":"Filtre Premier ESC/ASC indispo","func":"objets = msg.payload.records;\nj = objets.length;\n\nfor (i = 0; i<j; i++) {\n    if (typeof objets[i].fields.idequipement !== 'undefined'){\n\n        if (objets[i].fields.idequipement.match(\"SC\") && objets[i].fields.etat.match(\"Indisponible\")) {\n            //ASC ou ESC\n            //node.send(\n            return(\n                {\n                 \"objet\": objets[i].fields.idequipement,\n                 \"nom\" : objets[i].fields.nom ,\n                 \"station\" : objets[i].fields.nomstation,\n                 \"panne\" : true,\n                 \"complete\" : true, //pour déclencher le 'join' qui suit\n                });\n            //; etat:objets[i].fields.etat});\n            //node.send({etat:sections[i].to.stop_point.name});\n        }\n            \n        \n    }\n}\n//sinon retourne le trajet déjà calculé\n// avec l'item panne:false\nmsg.panne = false;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":800,"wires":[["77bc2abe.22b99c"]]},{"id":"efe2e59f.b655b","type":"comment","z":"6d6edb75.a49a64","name":"Calcul du trajet","info":"calcul du meilleur itinéraire\nvia l'API Navitia","x":100,"y":500,"wires":[]},{"id":"ec5b4b04.4f3598","type":"comment","z":"6d6edb75.a49a64","name":"Verif obstacles si besoin","info":"Requête éléments en panne\nvia API Data.explore","x":130,"y":620,"wires":[]},{"id":"4aab64bb.659f2c","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":943,"wires":[["146a1ce7.51757b"]]},{"id":"146a1ce7.51757b","type":"http request","z":"6d6edb75.a49a64","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":983,"wires":[["69a9120c.64405c"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"278a9603.b55382","type":"comment","z":"6d6edb75.a49a64","name":"Calcul URI Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":110,"y":863,"wires":[]},{"id":"5f41f17a.c5f508","type":"function","z":"6d6edb75.a49a64","name":"Format Station","func":"new_msg = {};\nnew_msg.dest = encodeURI(msg.station);\nreturn new_msg;","outputs":1,"noerr":0,"x":140,"y":903,"wires":[["4aab64bb.659f2c"]]},{"id":"69a9120c.64405c","type":"function","z":"6d6edb75.a49a64","name":"Extraction URI Métro","func":"if (typeof msg.payload.places == 'undefined'){\n    return null;\n}\n\nj = msg.payload.places.length;\n\nfor (i=0; i<j; i++){\n    if (msg.payload.places[i].stop_point.id.match(\"SP:5\")){\n        msg.interdit = msg.payload.places[i].id;\n        return msg\n    }\n} \n\nreturn null;","outputs":1,"noerr":0,"x":400,"y":983,"wires":[["bc7e17a4.d930b8"]]},{"id":"f96dff45.a702c8","type":"link out","z":"6d6edb75.a49a64","name":"Panne","links":["db21854a.a0d5d"],"x":685,"y":800,"wires":[]},{"id":"db21854a.a0d5d","type":"link in","z":"69d36efd.f5d708","name":"Panne V","links":["f96dff45.a702c8"],"x":135,"y":380,"wires":[["3b179da0.5ce4a2"]]},{"id":"3b179da0.5ce4a2","type":"function","z":"69d36efd.f5d708","name":"Panne Trouvée","func":"station = msg.station\nobjet = msg.nom.replace(\"->\",\" vers \")\ntype = (msg.objet.match(\"ASC\")) ? \"ascenseur\":\"escalier\";\n\nmsg.payload = \"Une panne a été trouvée, à la station \" + station + \", sur \" + type +\", \" + objet + \".\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":380,"wires":[["81d94eed.fbaac8"]]},{"id":"bc7e17a4.d930b8","type":"function","z":"6d6edb75.a49a64","name":"Points Dep-Arr","func":"msg.dest = global.get(\"DestiTrouve\").id;\nmsg.start = global.get(\"emplacement\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1063,"wires":[["84833820.c87d8"]]},{"id":"9f8cdaa3.ac6a68","type":"comment","z":"6d6edb75.a49a64","name":"Calcul Trajet sans Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":130,"y":1023,"wires":[]},{"id":"b8997211.7fcb9","type":"switch","z":"6d6edb75.a49a64","name":"2 si panne","property":"panne","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":760,"wires":[["ed9f1fc1.6dbba"],["5f41f17a.c5f508","f96dff45.a702c8"]],"outputLabels":["Pas de panne","Station en panne"]},{"id":"6255c3c2.885954","type":"link out","z":"6d6edb75.a49a64","name":"Trajet Fourni","links":["273456e3.6537f2"],"x":315,"y":1130,"wires":[]},{"id":"9e04ae5d.196428","type":"ui_template","z":"6207ccd8.624d3c","group":"c2802392.ac4ff8","name":"Afficher App React","order":0,"width":"0","height":"0","format":"<iframe src=\"http://192.168.0.11:3000\" width=700 height=300 ></iframe>\n<!-- width=500 height=500 -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":484,"wires":[[]]},{"id":"4ae30d4d.a3f70c","type":"switch","z":"6d6edb75.a49a64","name":"2 si Métro","property":"metro","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":710,"wires":[["b8997211.7fcb9"],["2ac66886.80ec1"]],"inputLabels":["Stations du trajet API Navitia"],"outputLabels":["Trajet sans metro","Trajet avec metro"]},{"id":"ed462f5d.e10738","type":"debug","z":"6d6edb75.a49a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":880,"wires":[]},{"id":"12a3c28.04019be","type":"link in","z":"69d36efd.f5d708","name":"PasPanne V","links":["ed9f1fc1.6dbba"],"x":135,"y":330,"wires":[["9f4bc3f9.7f788"]]},{"id":"9f4bc3f9.7f788","type":"function","z":"69d36efd.f5d708","name":"Pas de panne","func":"return {payload:\"Aucune panne détectée sur votre trajet\"}","outputs":1,"noerr":0,"x":280,"y":330,"wires":[["81d94eed.fbaac8","5f64e6b7.1c9f5"]]},{"id":"ed9f1fc1.6dbba","type":"link out","z":"6d6edb75.a49a64","name":"PasPanne","links":["12a3c28.04019be"],"x":685,"y":720,"wires":[]},{"id":"24084662.92b49a","type":"inject","z":"69d36efd.f5d708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":470,"wires":[["e6f1bff4.6a0cf8"]]},{"id":"e3cf27b0.8428f8","type":"delay","z":"69d36efd.f5d708","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":260,"wires":[["bf523879.492ec8"]]},{"id":"7c6da27c.db56fc","type":"function","z":"ed7f8d40.3443f","name":"CONST Fichier Trajet","func":"global.set(\"FichierTrajet\",\"/home/facitrajet/Metromix2/Metromix/src/trajetScript.json\")\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["3e8a1354.c30a84"]]},{"id":"a3406a96.8f26d8","type":"function","z":"6d6edb75.a49a64","name":"Get Filename","func":"msg.filename = global.get(\"FichierTrajet\");\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1240,"wires":[["2a468e56.df0cc2"]]},{"id":"b82d3445.e10e5","type":"link out","z":"6d6edb75.a49a64","name":"FichierTrajet Input","links":["6ef4a0a7.57257"],"x":315,"y":1090,"wires":[]},{"id":"6ef4a0a7.57257","type":"link in","z":"6d6edb75.a49a64","name":"FichierTrajet W","links":["b82d3445.e10e5","14fe42f8.a4ca2d"],"x":55,"y":1240,"wires":[["a3406a96.8f26d8"]]},{"id":"14fe42f8.a4ca2d","type":"link out","z":"6d6edb75.a49a64","name":"FichierTrajet Input","links":["6ef4a0a7.57257"],"x":315,"y":580,"wires":[]},{"id":"77bc2abe.22b99c","type":"join","z":"6d6edb75.a49a64","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":360,"y":760,"wires":[["b8997211.7fcb9","ed462f5d.e10738"]]},{"id":"782e79fa.372fb","type":"ui_text","z":"6207ccd8.624d3c","group":"e4c57225.0362d8","order":2,"width":0,"height":0,"name":"Destination trouvée","label":"Destination trouvée : ","format":"{{msg.dest}}","layout":"row-spread","x":600,"y":320,"wires":[]},{"id":"ae073ef4.56b8e8","type":"function","z":"6207ccd8.624d3c","name":"tab 2","func":"msg.payload = \"TabUI_2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["f7b665a5.c30c9"]]},{"id":"63cbe01c.f72d88","type":"function","z":"6207ccd8.624d3c","name":"Desti Trouvée","func":"msg.dest = global.get(\"NomDestiTrouve\")\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["782e79fa.372fb"]]},{"id":"b4854be9.fab418","type":"link in","z":"6207ccd8.624d3c","name":"DestiTrouve FE","links":["f5950f47.b73668"],"x":105,"y":320,"wires":[["63cbe01c.f72d88"]]},{"id":"a7e0b8a4.1a5058","type":"ui_button","z":"6207ccd8.624d3c","name":"Re-essai","group":"e4c57225.0362d8","order":3,"width":"2","height":"1","passthru":false,"label":"Re-entrer destination","color":"","bgcolor":"indianred","icon":"fa-times","payload":"TabUI_1","payloadType":"str","topic":"","x":160,"y":420,"wires":[["237c7149.45c55e"]]},{"id":"93ce6679.b5fbc","type":"template","z":"6207ccd8.624d3c","name":"Dest Demandée","field":"payload.dest","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":340,"y":200,"wires":[["25938423.5ce434","ed15a796.da732","39373249.57e8a6"]]},{"id":"7756705c.48c468","type":"ui_button","z":"6207ccd8.624d3c","name":"Retour départ","group":"c2802392.ac4ff8","order":0,"width":"5","height":"1","passthru":false,"label":"Retour au début","color":"","bgcolor":"","icon":"","payload":"OK","payloadType":"str","topic":"","x":180,"y":517,"wires":[["3f909081.5f2438"]]},{"id":"ecf717bc.44eaa8","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"Tab suivant","x":510,"y":527,"wires":[[]]},{"id":"3f909081.5f2438","type":"function","z":"6207ccd8.624d3c","name":"tab 0","func":"msg.payload = {tab:\"TabUI_0\"};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":517,"wires":[["ecf717bc.44eaa8"]]},{"id":"bf523879.492ec8","type":"ui_audio","z":"69d36efd.f5d708","name":"AudioDashboard","group":"e4c57225.0362d8","voice":"fr-CA","always":true,"x":670,"y":160,"wires":[]},{"id":"a3e4761b.1a16b","type":"inject","z":"6207ccd8.624d3c","name":"Init au départ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":547,"wires":[["3f909081.5f2438","85b6a377.181878","c6825e41.858fc","9f8a6f7f.1437b"]]},{"id":"80bb4447.3a1f2","type":"ui_text_input","z":"6207ccd8.624d3c","name":"Destination","label":"Destination ? (Entree)","group":"f2dafee3.0e54d8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"destination","x":150,"y":200,"wires":[["ae073ef4.56b8e8","93ce6679.b5fbc"]]},{"id":"8c8e588a.12cdf","type":"debug","z":"6d6edb75.a49a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":400,"wires":[]},{"id":"e3c81483.68cc08","type":"ui_switch","z":"6207ccd8.624d3c","name":"","label":"Poussette","group":"85d23674.57052","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"poussette","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"","x":180,"y":660,"wires":[["2fcec825.44bee8"]]},{"id":"629813b6.35bb1c","type":"ui_switch","z":"6207ccd8.624d3c","name":"","label":"Fauteuil","group":"85d23674.57052","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"fauteuil","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":660,"wires":[["2fcec825.44bee8"]]},{"id":"261f713c.68eee6","type":"ui_switch","z":"6207ccd8.624d3c","name":"","label":"Bagages","group":"85d23674.57052","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bagages","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":480,"y":660,"wires":[["2fcec825.44bee8"]]},{"id":"f328d496.1fa3a8","type":"ui_button","z":"6207ccd8.624d3c","name":"Bonjour","group":"4a1b1fcf.7cb158","order":0,"width":"6","height":"1","passthru":false,"label":" Bonjour, activez le son du navigateur","color":"","bgcolor":"","icon":"fa-home","payload":"TabUI_1","payloadType":"str","topic":"","x":140,"y":80,"wires":[["f7b665a5.c30c9","5e89b274.9bff44"]]},{"id":"e6fb1bfa.83dc3","type":"ui_button","z":"6207ccd8.624d3c","name":"","group":"f2dafee3.0e54d8","order":0,"width":"5","height":"1","passthru":false,"label":"Micro","color":"","bgcolor":"","icon":"fa-microphone","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[["ae073ef4.56b8e8"]]},{"id":"2b329018.d0ef9","type":"ui_template","z":"6207ccd8.624d3c","group":"4a1b1fcf.7cb158","name":"Afficher image","order":0,"width":"5","height":"8","format":"<img src=/images/pic01.jpg width=10px >","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":340,"y":60,"wires":[[]]},{"id":"27bda0b7.eef5d8","type":"switch","z":"6d6edb75.a49a64","name":"Desti trouvée ?","property":"payload.links[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":480,"wires":[["734e169a.b49cc8","b80a3963.99ce7"],["cae98aff.d5992","a2d559b3.ca7608"]],"inputLabels":["API Navitia Places"],"outputLabels":["Résultat trouvé","Aucun resultat"]},{"id":"a2d559b3.ca7608","type":"link out","z":"6d6edb75.a49a64","name":"PasDesti","links":["80a465ec.7efde"],"x":515,"y":500,"wires":[]},{"id":"80a465ec.7efde","type":"link in","z":"69d36efd.f5d708","name":"PasDesti V","links":["a2d559b3.ca7608"],"x":135,"y":240,"wires":[["4f5a58de.709858"]]},{"id":"4f5a58de.709858","type":"function","z":"69d36efd.f5d708","name":"Desti PAS trouvée","func":"msg.payload = \"Votre destination est inconnue, merci de ré-essayer\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":240,"wires":[["81d94eed.fbaac8"]]},{"id":"39373249.57e8a6","type":"link out","z":"6207ccd8.624d3c","name":"Dest Demandée FE 1","links":["8a8be081.4bc84"],"x":535,"y":200,"wires":[]},{"id":"ed15a796.da732","type":"link out","z":"6207ccd8.624d3c","name":"Dest Demandée FE 2","links":["86499045.b4c1d"],"x":535,"y":220,"wires":[]},{"id":"d3521189.4d79d","type":"ui_button","z":"6207ccd8.624d3c","name":"OK ?","group":"e4c57225.0362d8","order":5,"width":"2","height":"1","passthru":false,"label":"Voir le trajet","color":"","bgcolor":"darkseagreen","icon":"fa-check","payload":"TabUI_3","payloadType":"str","topic":"","x":150,"y":360,"wires":[["237c7149.45c55e"]]},{"id":"237c7149.45c55e","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"ChangeTab","x":510,"y":380,"wires":[[]]},{"id":"45194a8e.e6da74","type":"ui_text","z":"6207ccd8.624d3c","group":"e4c57225.0362d8","order":4,"width":"1","height":"1","name":"Esp Bout","label":"   ","format":"{{msg.payload}}","layout":"row-spread","x":159,"y":390,"wires":[]},{"id":"90d9c67e.0e3878","type":"subflow:ed7f8d40.3443f","z":"6d6edb75.a49a64","name":"Definition Constantes","x":380,"y":40,"wires":[]},{"id":"f152b0a1.11028","type":"subflow:2f76bb1a.0c9434","z":"6d6edb75.a49a64","name":"Calcul Trajet Navitia","x":160,"y":580,"wires":[["14fe42f8.a4ca2d","32ac7c67.5a1824"]],"outputLabels":["Retour API JSON"]},{"id":"84833820.c87d8","type":"subflow:2f76bb1a.0c9434","z":"6d6edb75.a49a64","name":"","x":150,"y":1110,"wires":[["b82d3445.e10e5","6255c3c2.885954"]]},{"id":"cb260750.6145b","type":"comment","z":"6d6edb75.a49a64","name":"Def Profil Voyageur","info":"Annonce et formulaire Dashboard","x":110,"y":200,"wires":[]},{"id":"f0ca37f4.e588d8","type":"comment","z":"6207ccd8.624d3c","name":"Def Profil Voyageur","info":"Annonce et formulaire Dashboard","x":110,"y":580,"wires":[]},{"id":"a491984b.a8ffb8","type":"comment","z":"6207ccd8.624d3c","name":"Affichage Ticket","info":"Appel de l'appli React\nvia son serveur local","x":100,"y":456,"wires":[]},{"id":"d874a1c0.bc2b1","type":"comment","z":"6207ccd8.624d3c","name":"Affichage Destination","info":"Affichage et confirmation du trajet","x":120,"y":280,"wires":[]},{"id":"b762e431.6fe208","type":"comment","z":"6207ccd8.624d3c","name":"Entrée Destination","info":"","x":110,"y":120,"wires":[]},{"id":"d005db41.b6cd38","type":"comment","z":"6207ccd8.624d3c","name":"Ecran accueil","info":"","x":90,"y":40,"wires":[]},{"id":"b623bb68.128b3","type":"file in","z":"154c191e.a1f90f","name":"","filename":"/home/facitrajet/Site-Facitrajet/accueil.html","format":"","chunk":false,"sendError":false,"x":410,"y":120,"wires":[["28f64942.22030e"]]},{"id":"28f64942.22030e","type":"function","z":"154c191e.a1f90f","name":"","func":"msg.headers = {\n    \"Content-Type\": \"text/html\"\n    \n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":160,"wires":[["8ec277a7.15229","71aa13c0.cb2434"]]},{"id":"d6b1d21f.7969a","type":"file in","z":"69d36efd.f5d708","name":"Son Test2.wav","filename":"/home/facitrajet/Tests/test2.wav","format":"","chunk":false,"sendError":false,"x":440,"y":460,"wires":[[]]},{"id":"7574bd7d.d3604c","type":"google-tts","z":"69d36efd.f5d708","name":"","inputField":"payload","inputFieldType":"msg","outputField":"payload","outputFieldType":"msg","languageField":"fr-FR","languageFieldType":"str","speedField":"1","speedFieldType":"num","x":440,"y":520,"wires":[["f757c104.8632c8"]],"inputLabels":["Texte"],"outputLabels":["URL fichier son"]},{"id":"e6f1bff4.6a0cf8","type":"template","z":"69d36efd.f5d708","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Quelle est votre destination ?","output":"str","x":300,"y":520,"wires":[["7574bd7d.d3604c"]]},{"id":"f757c104.8632c8","type":"debug","z":"69d36efd.f5d708","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":540,"wires":[]},{"id":"92ef3b60.206fd","type":"function","z":"d961e0bb.c479d8","name":"Gérer profil Voyageur","func":"if (typeof msg.profil !== 'undefined') {\n    if (typeof msg.profil.bagages !== 'undefined') {global.set('ProfilBagages',msg.profil.bagages)}\n    if (typeof msg.profil.poussette !== 'undefined') {global.set('ProfilPoussette',msg.profil.poussette)}\n    if (typeof msg.profil.fauteuil !== 'undefined') {global.set('ProfilFauteuil',msg.profil.fauteuil)}\n}\n\nelse {\n    msg.profil.bagages = global.get('ProfilBagages')\n    msg.profil.poussette = global.get('ProfilPoussette')\n    msg.profil.fauteuil = global.get('ProfilFauteuil')\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[[]]},{"id":"3e8a1354.c30a84","type":"function","z":"ed7f8d40.3443f","name":"INIT profil Voyageur","func":"global.set('ProfilBagages',false)\nglobal.set('ProfilPoussette',false)\nglobal.set('ProfilFauteuil',false)\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[[]]},{"id":"ff8a4170.71423","type":"subflow:d961e0bb.c479d8","z":"6d6edb75.a49a64","name":"","x":210,"y":240,"wires":[["fbab11c7.67aef"]]},{"id":"16073ee0.7c2a29","type":"link in","z":"6d6edb75.a49a64","name":"Profil","links":["f8616007.56dcf8"],"x":115,"y":240,"wires":[["ff8a4170.71423"]]},{"id":"f8616007.56dcf8","type":"link out","z":"6207ccd8.624d3c","name":"Profil FE","links":["16073ee0.7c2a29"],"x":640,"y":640,"wires":[]},{"id":"2fcec825.44bee8","type":"function","z":"6207ccd8.624d3c","name":"Traitement Formulaire","func":"msg.profil = {}\nmsg.profil[msg.topic] = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":700,"wires":[["f8616007.56dcf8"]]},{"id":"fbab11c7.67aef","type":"debug","z":"6d6edb75.a49a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":370,"y":240,"wires":[]},{"id":"145805fe.2f19c2","type":"watch","z":"6d6edb75.a49a64","name":"Watch","files":"global.get(\"FichierTrajet\")","recursive":"","x":100,"y":1320,"wires":[[]]},{"id":"32ac7c67.5a1824","type":"function","z":"6d6edb75.a49a64","name":"Test Profil","func":"// Si une demande, on envoie sur sortie 2\nif (global.get('ProfilPoussette') || global.get('ProfilBagages') || global.get('ProfilFauteuil')){\n    return [ null ,msg];\n    \n}\n//Sinon, on envoie sur sortie 1\nelse {\n    return [msg, null];\n    \n}","outputs":2,"noerr":0,"x":120,"y":660,"wires":[["e340b4e4.b1f508"],["329c84df.3d5abc"]],"inputLabels":["Trajet 1"],"outputLabels":["Profil Rapide","Profil obstacles"]},{"id":"e340b4e4.b1f508","type":"link out","z":"6d6edb75.a49a64","name":"Trajet Fourni","links":["273456e3.6537f2"],"x":295,"y":660,"wires":[]},{"id":"a2e9a3af.f9683","type":"comment","z":"6d6edb75.a49a64","name":"Ecriture trajet","info":"Le trajet fourni en JSON est écrit\nsur le disque local, ce qui permet son\ntraitement par l'appli ReactJS.","x":90,"y":1180,"wires":[]},{"id":"fb89ef77.a27558","type":"comment","z":"6d6edb75.a49a64","name":"Impression trajet","info":"Le trajet formaté par l'appli ReactJS\nest exporté en fichier, qui déclenche son\nimpression locale sur le serveur RPi","x":100,"y":1280,"wires":[]},{"id":"e6b3f75b.a5143","type":"link in","z":"69d36efd.f5d708","name":"Accueil V","links":["cf2641a4.616808","5e89b274.9bff44"],"x":135,"y":100,"wires":[["9717a186.dbc39"]]},{"id":"9717a186.dbc39","type":"function","z":"69d36efd.f5d708","name":"Accueil","func":"msg.payload = \"Bonjour, où souhaitez-vous aller ?\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":100,"wires":[["81d94eed.fbaac8"]]},{"id":"cf2641a4.616808","type":"link out","z":"6d6edb75.a49a64","name":"Accueil","links":["e6b3f75b.a5143"],"x":635,"y":100,"wires":[]},{"id":"5e89b274.9bff44","type":"link out","z":"6207ccd8.624d3c","name":"Accueil FE","links":["e6b3f75b.a5143"],"x":475,"y":80,"wires":[]},{"id":"9a72f3a3.3acf5","type":"function","z":"6d6edb75.a49a64","name":"Accueil","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["cf2641a4.616808","cae98aff.d5992"]]},{"id":"85b6a377.181878","type":"function","z":"6207ccd8.624d3c","name":"Init Poussette","func":"msg.payload = global.get('ProfilPoussette')\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":620,"wires":[["e3c81483.68cc08"]]},{"id":"c6825e41.858fc","type":"function","z":"6207ccd8.624d3c","name":"Init Fauteuil","func":"msg.payload = global.get('ProfilFauteuil')\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["629813b6.35bb1c"]]},{"id":"9f8a6f7f.1437b","type":"function","z":"6207ccd8.624d3c","name":"Init Bagages","func":"msg.payload = global.get('ProfilBagages')\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":620,"wires":[["261f713c.68eee6"]]}]