node-red/20180318-14h09_flows_FTserveur.json
[{"id":"c4976844.335cc","type":"tab","label":"Principal"},{"id":"5c1fb11f.a36238","type":"tab","label":"Front End HTML"},{"id":"9aad894c.7d3ab","type":"tab","label":"Vocal","disabled":false},{"id":"3e5c5a8b.33dca6","type":"tab","label":"F-E Dashboard","disabled":false,"info":""},{"id":"62d0a4f9.aea13c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f598c53b.fa3488","type":"subflow","name":"Définition des constantes","info":"","in":[{"x":100,"y":40,"wires":[{"id":"ef549da7.478a38"}]}],"out":[]},{"id":"a70b555b.589f08","type":"subflow","name":"Calcul trajet Navitia","info":"","in":[{"x":50,"y":30,"wires":[{"id":"ba988469.71a9c8"}]}],"out":[{"x":560,"y":80,"wires":[{"id":"766ed901.9fc9c","port":0}]}]},{"id":"cac08cf8.5fb4a8","type":"subflow","name":"Profil","info":"Gestion du profil voyageur\nvia les variables globales\n\nUn appel sans msg.profil réinitialise le profil\nà \"false\" pour les trois valeurs","in":[{"x":40,"y":40,"wires":[{"id":"b777202.6063e6"}]}],"out":[{"x":440,"y":40,"wires":[{"id":"b777202.6063e6","port":0}]}]},{"id":"793e2a9e.37fbc4","type":"subflow","name":"Google RecVoc","info":"Attend la reconnaissance vocale de google\net renvoie le texte, issu d'un fichier","in":[],"out":[{"x":560,"y":60,"wires":[{"id":"d84c34fe.c8057","port":0}]}]},{"id":"9ea613ba.30a2f8","type":"inject","z":"c4976844.335cc","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"x":130,"y":40,"wires":[["8d34a8e9.0b7318","6f9a206b.8b66f8"]]},{"id":"ba988469.71a9c8","type":"function","z":"a70b555b.589f08","name":"Heure-date","func":"\n// Create a Date object\nvar now = Date.now();\n// Départ dans 5 minutes soit 300s soit 300_000ms\nvar date = new Date(now+300000);\n// Change the payload to be a formatted Date string (format attendu par API Navitia)\nmsg.date = date.toISOString()\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":40,"wires":[["8eeb4724.8e5618"]]},{"id":"766ed901.9fc9c","type":"http request","z":"a70b555b.589f08","name":"Calcul Trajet Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/journeys?from={{start}}&to={{dest}}&datetime={{date}}&max_nb_journeys=1&forbidden_uris[]={{interdit}}&disable_geojson=True","tls":"","x":400,"y":80,"wires":[[]]},{"id":"f6987837.3ac12","type":"function","z":"c4976844.335cc","name":"Init Destination","func":"global.set(\"DestiTrouve\",\"\");\nglobal.set(\"DestiTrouveNom\",\"\");\nglobal.set(\"DestiAlter\",\"\");\nglobal.set(\"DestiAlterNom\",\"\");\nmsg.dest = {};\n//msg.dest = 'stop_point:STA:SP:5020';\n//msg.dest = \"Republique\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":300,"wires":[["e42fb518.6f01b"]]},{"id":"ef549da7.478a38","type":"function","z":"f598c53b.fa3488","name":"CONST Empl. Borne","func":"// Définit l'emplacement de la borne \n// Utilisable comme le point de départ\n// accessible à tous les nodes\nglobal.set(\"emplacement\", \"stop_point:STA:SP:5022\");\nglobal.set(\"NomEmplacement\", \"Charles de Gaulle\")\n//Arrêt : Metro Charles de Gaulle\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["b64e668f.832678"]]},{"id":"6f9a206b.8b66f8","type":"exec","z":"c4976844.335cc","command":"pcsc_scan -n","addpay":false,"append":"","useSpawn":"true","timer":"","name":"Détection Carte","x":140,"y":120,"wires":[["4622bfc7.6a559"],[],[]]},{"id":"4c9f09b5.ca7fa","type":"exec","z":"c4976844.335cc","command":"echo ","addpay":true,"append":" | lpr && lpr -o fit-to-page /var/local/logo.png","useSpawn":"false","timer":"","oldrc":true,"name":"Impression locale","x":510,"y":1460,"wires":[[],[],[]]},{"id":"9efaa4f2.18dc48","type":"file","z":"c4976844.335cc","name":"Ecriture Fichier Julien","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":360,"y":1373,"wires":[]},{"id":"fc42e19f.02c3b8","type":"function","z":"c4976844.335cc","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":500,"wires":[["f32f1c7d.42a1a8"]]},{"id":"f32f1c7d.42a1a8","type":"http request","z":"c4976844.335cc","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":533,"wires":[["86f86976.b8ee6"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"4622bfc7.6a559","type":"switch","z":"c4976844.335cc","name":"Filtre Insertion/retrait","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inserted","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":340,"y":120,"wires":[["79a156e7.81b57"],["79a156e7.81b57"]]},{"id":"928352c9.799cc","type":"comment","z":"c4976844.335cc","name":"Recherche Dest","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":100,"y":340,"wires":[]},{"id":"6e34a095.9ddb28","type":"function","z":"c4976844.335cc","name":"Points Dep-Arr","func":"msg.dest = {};\n\nmsg.dest = global.get(\"DestiTrouve\");\nnode.warn(msg.dest)\nmsg.dest = msg.dest.id\n\nvar depart = global.get(\"emplacement\");\nmsg.start = {};\nmsg.start = depart;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":700,"wires":[["7d25f5f.065128c"]]},{"id":"b64e668f.832678","type":"function","z":"f598c53b.fa3488","name":"CONST Token Navitia","func":"\n// Définit le token d'appel Navitia\n// accessible à tous les nodes\nglobal.set(\"TokenNavitia\", \"dea0d6a8-7c09-40d7-b9a3-7c19f9f57ef7\");\n\nmsg.payload = 'on est partis !'\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":80,"wires":[["b39f07f4.1de5a"]]},{"id":"8eeb4724.8e5618","type":"function","z":"a70b555b.589f08","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["766ed901.9fc9c"]]},{"id":"934490f3.19dde8","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/accueil","method":"get","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["53e78cc4.bfd2ac","de032523.180be"]]},{"id":"9395bda2.370e58","type":"comment","z":"5c1fb11f.a36238","name":"Accueil","info":"","x":130,"y":80,"wires":[]},{"id":"f6c84f5a.52c02","type":"function","z":"c4976844.335cc","name":"Format Dest","func":"msg.dest = msg.payload;\n\nif (typeof msg.dest !== 'string'){\n    msg.dest = msg.dest.dest\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":460,"wires":[["fc42e19f.02c3b8"]]},{"id":"40cde084.741b8","type":"function","z":"c4976844.335cc","name":"GLOBAL Dest trouvée","func":"// rendre accessible à tous les nodes\nglobal.set(\"DestiTrouve\", msg.payload.places[0]);\nglobal.set(\"DestiTrouveNom\", msg.payload.places[0].name);\n\nnode.warn(msg.payload.places[0].name);\n\n//3 autres destinations trouvées, pour choix voyageur\n\nvar DestiAlter = {};\nvar DestiAlterNom = {};\n\nfor (i=0; i<3; i++){\nif (typeof msg.payload.places[i+1] !== 'undefined' ){\n    DestiAlter[i] = msg.payload.places[i+1];\n    DestiAlterNom[i] = msg.payload.places[i+1].name;\n    global.set(\"DestiAlter\",DestiAlter)\n    global.set(\"DestiAlterNom\",DestiAlterNom)\n    \n}\nelse {break;}\n}\n\nmsg.payload = msg.payload.places[0].name\n//node.warn(global.get(\"DestiAlterNom\")[1])\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":533,"wires":[["49b3c7af.551ce","f11876d9.b54d48"]]},{"id":"9d8c0e8b.4abb48","type":"play audio","z":"9aad894c.7d3ab","name":"TTS","voice":"5","x":630,"y":260,"wires":[]},{"id":"9d02eee5.67018","type":"function","z":"9aad894c.7d3ab","name":"TrajetFourni","func":"depart = global.get(\"NomEmplacement\")\narrive = global.get(\"DestiTrouveNom\")\nmsg.payload = \"Le trajet entre \" + depart + \" et \" + arrive + \" a été fourni.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":400,"wires":[["5d35e767.d78ac"]]},{"id":"35c4ad28.95e8b2","type":"link in","z":"9aad894c.7d3ab","name":"Trajet Fourni V","links":["1e68dd1f.653da3","435c551f.78b3e4","c9655c27.9a7ce8"],"x":135,"y":400,"wires":[["9d02eee5.67018"]]},{"id":"a819c021.1cf6d8","type":"link in","z":"9aad894c.7d3ab","name":"Dest Demandée V","links":["220f7b6b.fb4864","193982c2.a0ac4d"],"x":135,"y":200,"wires":[["fe62b62b.723a9"]]},{"id":"fe62b62b.723a9","type":"function","z":"9aad894c.7d3ab","name":"Dest demandée","func":"msg.payload = \"La destination demandée est  \" + msg.payload ;\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":200,"wires":[[]]},{"id":"49b3c7af.551ce","type":"link out","z":"c4976844.335cc","name":"Dest Trouvée","links":["c08f37cd.4468f8"],"x":595,"y":573,"wires":[]},{"id":"257b0deb.366f5a","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/destination","method":"get","upload":false,"swaggerDoc":"","x":160,"y":560,"wires":[["f86fa5cc.df05f"]]},{"id":"c32db6f4.c3a2c8","type":"http response","z":"5c1fb11f.a36238","name":"Affiche Dest Trouvée","statusCode":"","headers":{},"x":680,"y":600,"wires":[]},{"id":"a921ad04.1fd778","type":"comment","z":"5c1fb11f.a36238","name":"Dest trouvée","info":"Affichage de la destination trouvée\nà partir de l'indication Usager\nGET : requête depuis la page écoute\nPOSt : requête depuis la page \"autresdestinations\"","x":150.5555419921875,"y":518.8888854980469,"wires":[]},{"id":"69b2b287.3b3e24","type":"link in","z":"9aad894c.7d3ab","name":"Dest Trouvée V","links":["b7f17964.1e6c1"],"x":135,"y":240,"wires":[["41b3fa18.044d04"]]},{"id":"41b3fa18.044d04","type":"function","z":"9aad894c.7d3ab","name":"Dest Trouvée","func":"var dest = global.get(\"DestiTrouveNom\");\nmsg.payload = \"Vous allez a \"+dest+\" ?\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["5d35e767.d78ac"]]},{"id":"18d36cdc.2ec573","type":"http request","z":"c4976844.335cc","name":"DataExplore","method":"GET","ret":"obj","url":"https://data.explore.star.fr/api/records/1.0/search//?dataset=tco-metro-equipements-etat-tr&q={{station}}&lang=fr&rows=100","tls":"","x":130,"y":940,"wires":[["36a826c3.e05e5a"]]},{"id":"c9f90130.71b098","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/calcul","method":"post","upload":false,"swaggerDoc":"","x":150,"y":340,"wires":[["befaf8e2.bc8188"]]},{"id":"220f7b6b.fb4864","type":"link out","z":"5c1fb11f.a36238","name":"Dest Demand","links":["a819c021.1cf6d8","d7c8eb2b.cc98e8"],"x":435,"y":300,"wires":[]},{"id":"befaf8e2.bc8188","type":"template","z":"5c1fb11f.a36238","name":"Extraction","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.dest}}","x":320,"y":340,"wires":[["220f7b6b.fb4864","8e8296f4.e939c"]]},{"id":"e7b7b328.5dc698","type":"comment","z":"5c1fb11f.a36238","name":"Calcul","info":"","x":130,"y":300,"wires":[]},{"id":"d7c8eb2b.cc98e8","type":"link in","z":"c4976844.335cc","name":"Dest Input","links":["5c02aed1.6452f","e7d20169.0c252","220f7b6b.fb4864"],"x":195,"y":420,"wires":[["f6c84f5a.52c02"]]},{"id":"5d35e767.d78ac","type":"template","z":"9aad894c.7d3ab","name":"On Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":470,"y":260,"wires":[["954df0d6.52b428"]]},{"id":"f801597a.fddb88","type":"debug","z":"5c1fb11f.a36238","name":"","active":true,"console":false,"complete":"true","x":510,"y":640,"wires":[]},{"id":"b085a93e.86af1","type":"function","z":"c4976844.335cc","name":"Decoupe Stations M","func":"sections = msg.payload.journeys[0].sections;\nj = sections.length;\nmsg.metro = false;\nmsg.panne = false;\n\nfor (i = 0; i<j; i++) {\n    if (typeof sections[i].display_informations !== 'undefined'){\n\n        if (sections[i].display_informations.physical_mode == \"Métro\") {\n            node.send({station:sections[i].from.stop_point.name, metro:true});\n            node.send({station:sections[i].to.stop_point.name, metro:true});\n            msg.metro = true;\n        }\n            \n        \n    }\n}\n//si aucune section en métro, retourner le message\nif (!msg.metro){return msg;}","outputs":1,"noerr":0,"x":160,"y":890,"wires":[["fe23ef30.e9ae8"]]},{"id":"36a826c3.e05e5a","type":"function","z":"c4976844.335cc","name":"Filtre Premier ESC/ASC indispo","func":"objets = msg.payload.records;\nj = objets.length;\n\nfor (i = 0; i<j; i++) {\n    if (typeof objets[i].fields.idequipement !== 'undefined'){\n\n        if (objets[i].fields.idequipement.match(\"SC\") && objets[i].fields.etat.match(\"Indisponible\")) {\n            //ASC ou ESC\n            //node.send(\n            return(\n                {\n                 \"objet\": objets[i].fields.idequipement,\n                 \"nom\" : objets[i].fields.nom ,\n                 \"station\" : objets[i].fields.nomstation,\n                 \"panne\" : true,\n                 \"complete\" : true, //pour déclencher le 'join' qui suit\n                });\n            //; etat:objets[i].fields.etat});\n            //node.send({etat:sections[i].to.stop_point.name});\n        }\n            \n        \n    }\n}\n//sinon retourne le trajet déjà calculé\n// avec l'item panne:false\nmsg.panne = false;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":980,"wires":[["a70fda38.d80da8"]]},{"id":"eb45ebcf.ff85","type":"comment","z":"c4976844.335cc","name":"Calcul du trajet","info":"calcul du meilleur itinéraire\nvia l'API Navitia","x":100,"y":660,"wires":[]},{"id":"53468455.576dc4","type":"comment","z":"c4976844.335cc","name":"Verif obstacles si besoin","info":"Requête éléments en panne\nvia API Data.explore","x":130,"y":800,"wires":[]},{"id":"c140843d.811ee8","type":"function","z":"c4976844.335cc","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1100,"wires":[["40aa748a.fbf8ec"]]},{"id":"40aa748a.fbf8ec","type":"http request","z":"c4976844.335cc","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":1140,"wires":[["a8c03460.308ed8"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"5fd6db38.5b18ac","type":"comment","z":"c4976844.335cc","name":"Calcul URI Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":110,"y":1020,"wires":[]},{"id":"ddc7e90a.01095","type":"function","z":"c4976844.335cc","name":"Format Station","func":"new_msg = {};\nnew_msg.dest = encodeURI(msg.station);\nreturn new_msg;","outputs":1,"noerr":0,"x":140,"y":1060,"wires":[["c140843d.811ee8"]]},{"id":"a8c03460.308ed8","type":"function","z":"c4976844.335cc","name":"Extraction URI Métro","func":"if (typeof msg.payload.places == 'undefined'){\n    return null;\n}\n\nj = msg.payload.places.length;\n\nfor (i=0; i<j; i++){\n    if (msg.payload.places[i].stop_point.id.match(\"SP:5\")){\n        msg.interdit = msg.payload.places[i].id;\n        return msg\n    }\n} \n\nreturn null;","outputs":1,"noerr":0,"x":400,"y":1140,"wires":[["20f7be7.1cdfa42"]]},{"id":"71aacafc.70ae44","type":"link out","z":"c4976844.335cc","name":"Panne","links":["7bf697d0.6fb1c"],"x":685,"y":980,"wires":[]},{"id":"7bf697d0.6fb1c","type":"link in","z":"9aad894c.7d3ab","name":"Panne V","links":["71aacafc.70ae44"],"x":135,"y":500,"wires":[["a629bff2.4c1ea8"]]},{"id":"a629bff2.4c1ea8","type":"function","z":"9aad894c.7d3ab","name":"Panne Trouvée","func":"station = msg.station\nobjet = msg.nom.replace(\"->\",\" vers \")\ntype = (msg.objet.match(\"ASC\")) ? \"ascenseur\":\"escalier\";\n\nmsg.payload = \"Une panne a été trouvée, à la station \" + station + \", sur \" + type +\", \" + objet + \".\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":500,"wires":[[]]},{"id":"20f7be7.1cdfa42","type":"function","z":"c4976844.335cc","name":"Points Dep-Arr","func":"msg.dest = global.get(\"DestiTrouve\").id;\nmsg.start = global.get(\"emplacement\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1220,"wires":[["e5ac6e66.65beb8"]]},{"id":"6789712f.3b0ae","type":"comment","z":"c4976844.335cc","name":"Calcul Trajet sans Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.\n\n// s'inspirer de \n//http://doc.navitia.io/#journey-qualification-process\n","x":130,"y":1180,"wires":[]},{"id":"96ab91cd.915a","type":"switch","z":"c4976844.335cc","name":"2 si panne","property":"panne","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":630,"y":940,"wires":[["5ef7f3d2.f7c8dc"],["ddc7e90a.01095","71aacafc.70ae44"]],"outputLabels":["Pas de panne","Station en panne"]},{"id":"435c551f.78b3e4","type":"link out","z":"c4976844.335cc","name":"Trajet Fourni","links":["35c4ad28.95e8b2"],"x":315,"y":1287,"wires":[]},{"id":"fe23ef30.e9ae8","type":"switch","z":"c4976844.335cc","name":"2 si Métro","property":"metro","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","outputs":2,"x":390,"y":890,"wires":[["96ab91cd.915a"],["18d36cdc.2ec573"]],"inputLabels":["Stations du trajet API Navitia"],"outputLabels":["Trajet sans metro","Trajet avec metro"]},{"id":"a4c7ab83.057b18","type":"debug","z":"c4976844.335cc","name":"","active":false,"console":false,"complete":"true","x":600,"y":1060,"wires":[]},{"id":"c37d379.8b494c8","type":"link in","z":"9aad894c.7d3ab","name":"PasPanne V","links":["5ef7f3d2.f7c8dc"],"x":135,"y":450,"wires":[["a63ace1e.6b5d"]]},{"id":"a63ace1e.6b5d","type":"function","z":"9aad894c.7d3ab","name":"Pas de panne","func":"return {payload:\"Aucune panne détectée sur votre trajet\"}","outputs":1,"noerr":0,"x":280,"y":450,"wires":[["9d02eee5.67018"]]},{"id":"5ef7f3d2.f7c8dc","type":"link out","z":"c4976844.335cc","name":"PasPanne","links":["c37d379.8b494c8"],"x":685,"y":900,"wires":[]},{"id":"be22326.02c3ed","type":"delay","z":"9aad894c.7d3ab","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":480,"y":340,"wires":[["a57225e.f597c58"]]},{"id":"b39f07f4.1de5a","type":"function","z":"f598c53b.fa3488","name":"CONST Fichier Trajet","func":"global.set(\"FichierTrajet\",\"/home/pi/Metromix/src/trajetScript.json\")\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":120,"wires":[["3e4b3d01.0bc0a2"]]},{"id":"f22ae113.1fb578","type":"function","z":"c4976844.335cc","name":"Get Filename","func":"msg.filename = global.get(\"FichierTrajet\");\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":1373,"wires":[["9efaa4f2.18dc48"]]},{"id":"23075d9c.56f01a","type":"link out","z":"c4976844.335cc","name":"FichierTrajet Input","links":["bcda2bba.190608"],"x":315,"y":1247,"wires":[]},{"id":"bcda2bba.190608","type":"link in","z":"c4976844.335cc","name":"FichierTrajet W","links":["23075d9c.56f01a","4a4ceb2d.a01adc"],"x":55,"y":1373,"wires":[["f22ae113.1fb578"]]},{"id":"4a4ceb2d.a01adc","type":"link out","z":"c4976844.335cc","name":"FichierTrajet Input","links":["bcda2bba.190608"],"x":315,"y":740,"wires":[]},{"id":"a70fda38.d80da8","type":"join","z":"c4976844.335cc","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","x":360,"y":940,"wires":[["96ab91cd.915a","a4c7ab83.057b18"]]},{"id":"d6bd4e9b.787f","type":"function","z":"3e5c5a8b.33dca6","name":"tab 2","func":"msg.payload = \"TabUI_2\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":160,"wires":[["b3669e95.a94418"]]},{"id":"2020ef28.a4d3f","type":"function","z":"3e5c5a8b.33dca6","name":"Desti Trouvée","func":"msg.dest = global.get(\"DestiTrouveNom\")\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["9819292a.1cdbb8"]]},{"id":"c08f37cd.4468f8","type":"link in","z":"3e5c5a8b.33dca6","name":"DestiTrouve FE","links":["49b3c7af.551ce"],"x":105,"y":320,"wires":[["2020ef28.a4d3f"]]},{"id":"f218428a.7df3f","type":"template","z":"3e5c5a8b.33dca6","name":"Dest Demandée","field":"payload.dest","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":340,"y":200,"wires":[["799f438.34f54bc","193982c2.a0ac4d","5c02aed1.6452f"]]},{"id":"98b006c6.1b2118","type":"function","z":"3e5c5a8b.33dca6","name":"tab 0","func":"msg.payload = {tab:\"TabUI_0\"};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":517,"wires":[["41bc47ae.d9db48"]]},{"id":"d396c9a8.946848","type":"inject","z":"3e5c5a8b.33dca6","name":"Init au départ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":180,"y":547,"wires":[["98b006c6.1b2118","335fd2c2.23142e","30257255.cb2c66","5c733086.3911a8"]]},{"id":"f11876d9.b54d48","type":"debug","z":"c4976844.335cc","name":"","active":true,"console":false,"complete":"true","x":510,"y":453,"wires":[]},{"id":"ebf70e0d.a51b9","type":"link out","z":"c4976844.335cc","name":"PasDesti","links":["6e07b57c.07b124"],"x":355,"y":573,"wires":[]},{"id":"6e07b57c.07b124","type":"link in","z":"9aad894c.7d3ab","name":"PasDesti V","links":["ebf70e0d.a51b9"],"x":135,"y":280,"wires":[["89024289.1d01a"]]},{"id":"89024289.1d01a","type":"function","z":"9aad894c.7d3ab","name":"Desti PAS trouvée","func":"msg.payload = \"La destination \" + msg.dest + \" est inconnue, merci de ré-essayer\";\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":280,"wires":[["5d35e767.d78ac"]]},{"id":"5c02aed1.6452f","type":"link out","z":"3e5c5a8b.33dca6","name":"Dest Demandée FE 1","links":["d7c8eb2b.cc98e8"],"x":535,"y":200,"wires":[]},{"id":"193982c2.a0ac4d","type":"link out","z":"3e5c5a8b.33dca6","name":"Dest Demandée FE 2","links":["a819c021.1cf6d8"],"x":535,"y":220,"wires":[]},{"id":"8d34a8e9.0b7318","type":"subflow:f598c53b.fa3488","z":"c4976844.335cc","name":"Definition Constantes","x":380,"y":40,"wires":[]},{"id":"7d25f5f.065128c","type":"subflow:a70b555b.589f08","z":"c4976844.335cc","name":"Calcul Trajet Navitia","x":160,"y":740,"wires":[["4a4ceb2d.a01adc","23859bc9.526864"]],"outputLabels":["Retour API JSON"]},{"id":"e5ac6e66.65beb8","type":"subflow:a70b555b.589f08","z":"c4976844.335cc","name":"","x":150,"y":1267,"wires":[["23075d9c.56f01a","435c551f.78b3e4"]]},{"id":"d68be2e.64b982","type":"comment","z":"c4976844.335cc","name":"Def Profil Voyageur","info":"Annonce et formulaire Dashboard","x":110,"y":200,"wires":[]},{"id":"4b3fccf8.f1adcc","type":"comment","z":"3e5c5a8b.33dca6","name":"Def Profil Voyageur","info":"Annonce et formulaire Dashboard","x":110,"y":580,"wires":[]},{"id":"c1357530.d3df08","type":"comment","z":"3e5c5a8b.33dca6","name":"Affichage Ticket","info":"Appel de l'appli React\nvia son serveur local","x":100,"y":456,"wires":[]},{"id":"f2c3b0eb.26a2f8","type":"comment","z":"3e5c5a8b.33dca6","name":"Affichage Destination","info":"Affichage et confirmation du trajet","x":120,"y":280,"wires":[]},{"id":"89651cee.dc6","type":"comment","z":"3e5c5a8b.33dca6","name":"Entrée Destination","info":"","x":110,"y":120,"wires":[]},{"id":"1725b9d.93fad46","type":"comment","z":"3e5c5a8b.33dca6","name":"Ecran accueil","info":"","x":90,"y":40,"wires":[]},{"id":"b777202.6063e6","type":"function","z":"cac08cf8.5fb4a8","name":"Gérer profil Voyageur","func":"if (typeof msg.profil !== 'undefined') {\n    if (typeof msg.profil.bagages !== 'undefined') {global.set('ProfilBagages',msg.profil.bagages)}\n    if (typeof msg.profil.poussette !== 'undefined') {global.set('ProfilPoussette',msg.profil.poussette)}\n    if (typeof msg.profil.fauteuil !== 'undefined') {global.set('ProfilFauteuil',msg.profil.fauteuil)}\n}\n\nelse {\n    global.set('ProfilBagages',false)\n    global.get('ProfilPoussette',false)\n    global.get('ProfilFauteuil',false)\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":40,"wires":[[]]},{"id":"3e4b3d01.0bc0a2","type":"function","z":"f598c53b.fa3488","name":"INIT profil Voyageur","func":"global.set('ProfilBagages',false)\nglobal.set('ProfilPoussette',false)\nglobal.set('ProfilFauteuil',false)\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[[]]},{"id":"56e7c729.597878","type":"link out","z":"3e5c5a8b.33dca6","name":"Profil FE","links":["7049e902.c44f8"],"x":635,"y":700,"wires":[]},{"id":"648033f5.d35294","type":"function","z":"3e5c5a8b.33dca6","name":"Traitement Formulaire","func":"msg.profil = {}\nmsg.profil[msg.topic] = msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":660,"wires":[["56e7c729.597878"]]},{"id":"8508ba74.283a4","type":"debug","z":"c4976844.335cc","name":"","active":false,"console":false,"complete":"true","x":470,"y":240,"wires":[]},{"id":"2dbc6bde.a1091c","type":"watch","z":"c4976844.335cc","name":"Watch","files":"/home/pi/Metromix/src/trajetScript.json","recursive":"","x":100,"y":1453,"wires":[["630917f6.efc878"]]},{"id":"23859bc9.526864","type":"function","z":"c4976844.335cc","name":"Test Profil","func":"// Si une demande, on envoie sur sortie 2\nif (global.get('ProfilPoussette') || global.get('ProfilBagages') || global.get('ProfilFauteuil')){\n    return [ null ,msg];\n    \n}\n//Sinon, on envoie sur sortie 1\nelse {\n    return [msg, null];\n    \n}","outputs":2,"noerr":0,"x":120,"y":840,"wires":[["c9655c27.9a7ce8"],["b085a93e.86af1"]],"inputLabels":["Trajet 1"],"outputLabels":["Profil Rapide","Profil obstacles"]},{"id":"c9655c27.9a7ce8","type":"link out","z":"c4976844.335cc","name":"Trajet Fourni","links":["35c4ad28.95e8b2"],"x":295,"y":840,"wires":[]},{"id":"b2439f32.29ed18","type":"comment","z":"c4976844.335cc","name":"Ecriture trajet","info":"Le trajet fourni en JSON est écrit\nsur le disque local, ce qui permet son\ntraitement par l'appli ReactJS.","x":90,"y":1313,"wires":[]},{"id":"53b7f7f7.7eed8","type":"comment","z":"c4976844.335cc","name":"Impression trajet","info":"Le trajet formaté par l'appli ReactJS\nest exporté en fichier, qui déclenche son\nimpression locale sur le serveur RPi","x":100,"y":1413,"wires":[]},{"id":"4a9c876f.a632b8","type":"link in","z":"9aad894c.7d3ab","name":"Accueil V","links":["f0c14867.4fc1b8","bb527c85.27fe88","cf2641a4.616808"],"x":135,"y":160,"wires":[["ef8ae0d4.2d52c"]]},{"id":"ef8ae0d4.2d52c","type":"function","z":"9aad894c.7d3ab","name":"Ecoute","func":"msg.payload = \"Où souhaitez-vous aller ?\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":160,"wires":[["5d35e767.d78ac"]]},{"id":"f0c14867.4fc1b8","type":"link out","z":"3e5c5a8b.33dca6","name":"Accueil FE","links":["4a9c876f.a632b8"],"x":475,"y":80,"wires":[]},{"id":"79a156e7.81b57","type":"function","z":"c4976844.335cc","name":"Accueil","func":"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[["f6987837.3ac12"]]},{"id":"335fd2c2.23142e","type":"function","z":"3e5c5a8b.33dca6","name":"Init Poussette","func":"msg.payload = global.get('ProfilPoussette')\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":620,"wires":[["f3a8954.5738e68"]]},{"id":"30257255.cb2c66","type":"function","z":"3e5c5a8b.33dca6","name":"Init Fauteuil","func":"msg.payload = global.get('ProfilFauteuil')\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":660,"wires":[["922bb083.12a61"]]},{"id":"5c733086.3911a8","type":"function","z":"3e5c5a8b.33dca6","name":"Init Bagages","func":"msg.payload = global.get('ProfilBagages')\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":700,"wires":[["18022837.00ed1"]]},{"id":"b4d4a986.11cfa","type":"comment","z":"5c1fb11f.a36238","name":"Options","info":"","x":130,"y":380,"wires":[]},{"id":"7583c3a6.e8f3dc","type":"comment","z":"5c1fb11f.a36238","name":"Ecoute","info":"","x":130,"y":200,"wires":[]},{"id":"ffbc6fd8.ccd81","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/ecoute","method":"get","upload":false,"swaggerDoc":"","x":150,"y":240,"wires":[["bb527c85.27fe88","48876374.3d8c34"]]},{"id":"bb527c85.27fe88","type":"link out","z":"5c1fb11f.a36238","name":"accueil FE","links":["4a9c876f.a632b8"],"x":275,"y":220,"wires":[]},{"id":"48876374.3d8c34","type":"function","z":"5c1fb11f.a36238","name":"Redirect /ecoute.html","func":"msg.res.redirect(\"/ecoute.html\")\n","outputs":"0","noerr":0,"x":460,"y":240,"wires":[]},{"id":"53e78cc4.bfd2ac","type":"function","z":"5c1fb11f.a36238","name":"Redirect /accueil.html","func":"msg.res.redirect(\"/accueil.html\")\n","outputs":"0","noerr":0,"x":460,"y":120,"wires":[]},{"id":"b99d49e2.4ec65","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/options","method":"get","upload":false,"swaggerDoc":"","x":150,"y":420,"wires":[["1ba9a586.8301ba","c37a999e.cecde8"]]},{"id":"c37a999e.cecde8","type":"link out","z":"5c1fb11f.a36238","name":"Options Get FE","links":["47559968.a527f"],"x":315,"y":400,"wires":[]},{"id":"1ba9a586.8301ba","type":"function","z":"5c1fb11f.a36238","name":"Redirect /options.html","func":"msg.res.redirect(\"/options.html\")\n","outputs":"0","noerr":0,"x":460,"y":420,"wires":[]},{"id":"47559968.a527f","type":"link in","z":"9aad894c.7d3ab","name":"Options Question V","links":["c37a999e.cecde8"],"x":135,"y":80,"wires":[["e6045b4d.118c98"]]},{"id":"e6045b4d.118c98","type":"function","z":"9aad894c.7d3ab","name":"OptionsQ","func":"msg.payload = \"Comment voyagez-vous ?\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["5d35e767.d78ac"]]},{"id":"4ab8aad1.9428b4","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/options","method":"post","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["4570ee31.8364c8","570cd4c.8c99f2c"]]},{"id":"4570ee31.8364c8","type":"link out","z":"5c1fb11f.a36238","name":"Options Post FE","links":["c4b56857.f8a458"],"x":315,"y":440,"wires":[]},{"id":"81345ece.3807b8","type":"function","z":"5c1fb11f.a36238","name":"Redirect /ecoute","func":"msg.res.redirect(\"/ecoute\")\n","outputs":"0","noerr":0,"x":630,"y":480,"wires":[]},{"id":"23715849.2b75d8","type":"subflow:cac08cf8.5fb4a8","z":"5c1fb11f.a36238","name":"","x":470,"y":480,"wires":[["81345ece.3807b8"]]},{"id":"570cd4c.8c99f2c","type":"function","z":"5c1fb11f.a36238","name":"Extraction","func":"msg.profil = {};\nif(typeof msg.payload.profil !== 'undefined' ) {\nswitch (msg.payload.profil){\n    case \"poussette\" :\n        msg.profil.poussette = true;\n        break;\n    case \"fauteuil\" :\n        msg.profil.fauteuil = true;\n        break;\n    case \"bagages\" : \n        msg.profil.bagages = true;\n        break;\n    default :\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[["23715849.2b75d8"]]},{"id":"c4b56857.f8a458","type":"link in","z":"9aad894c.7d3ab","name":"Options Reponse V","links":["4570ee31.8364c8"],"x":135,"y":120,"wires":[["18b866f1.4b74a9"]]},{"id":"18b866f1.4b74a9","type":"function","z":"9aad894c.7d3ab","name":"OptionsR","func":"msg.payload = \"Vos options sont prises en compte\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":120,"wires":[["5d35e767.d78ac"]]},{"id":"89d19e65.245d88","type":"template","z":"5c1fb11f.a36238","name":"Page Destination","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>destination</title>\n<link rel=\"stylesheet\" href=\"style.css\">\n</head>\n\n<body>\n    <body bgcolor=\"#092868\" background=\"images/fond.png\">\n</Body>\n<p>\n\t<div>\n        <img class=\"logo05\" src=\"images/logo@0.5x.png\" alt=\"Logo FaciTRAJET\"/>\n   </div>\n</p>\n    <div>\n        <p> Vous allez à : </p>\n        <p class=\"destination1\">{{DestiTrouveNom}}</p> \n    </div>\n    <div>\n    \t<p>\n    \t<a href=\"autresdestinations\"><img class=\"boutonno\" src=\"images/Bouton_NON.png\" alt=\"NON\"/></a>\n    </p>\n    </div>\n    <div>\n    \t<p>\n    \t<a href=\"impression\"><img class=\"boutonyes\" src=\"images/Bouton_Je_valide.png\" alt=\"OUI\"/></a>\n    </p>\n    </div>\n\n\n</body>\n</html>","x":530,"y":560,"wires":[["c32db6f4.c3a2c8","b7f17964.1e6c1"]]},{"id":"9a2d1a7.1aa4568","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/autresdestinations","method":"get","upload":false,"swaggerDoc":"","x":180,"y":680,"wires":[["62a25d92.c0609c","b2a04a1c.f1cd58"]]},{"id":"4adfa256.3919fc","type":"comment","z":"5c1fb11f.a36238","name":"Autres Dest","info":"Affichage de la destination trouvée\nà partir de l'indication Usager","x":150.5555419921875,"y":638.8888854980469,"wires":[]},{"id":"958735ba.f5ac9","type":"comment","z":"c4976844.335cc","name":"Valider Destination","info":"Confirmation par l'utilisateur","x":110,"y":580,"wires":[]},{"id":"6db8342f.256b84","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/impression","method":"get","upload":false,"swaggerDoc":"","x":160,"y":800,"wires":[["d07764e8.777568","990492f1.33b2e"]]},{"id":"b792775c.387e2","type":"comment","z":"5c1fb11f.a36238","name":"Confirmation et Impression","info":"Confirmation de la destination\nCalcul du trajet et fin de la prestation","x":190.5555419921875,"y":758.8888854980469,"wires":[]},{"id":"62a25d92.c0609c","type":"template","z":"5c1fb11f.a36238","name":"Page Alternatives","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>autres destinations</title>\n<link rel=\"stylesheet\" href=\"style.css\">\n<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'>\n</script>\n</head>\n\n<body>\n    <body bgcolor=\"#092868\" background=\"images/fond.png\">\n</Body>\n\n    <div>\n    <form action=destination method=\"POST\">\n    <p> <input type=radio name=choix value=\"0\" id=\"0\"> <label for=\"0\">{{global.DestiAlterNom[0]}}</label></p>\n    \n    <p> <input type=radio name=choix value=\"1\" id=\"1\"> <label for=\"1\">{{global.DestiAlterNom[1]}} </label></p>\n   \n\t<p> <input type=radio name=choix value=\"2\" id=\"2\"> <label for=\"2\">{{global.DestiAlterNom[2]}}</label></p>\n    <p> <input type=submit value=OK> </p>\n\t</form>\n    </div>\n    <div>\n    \t<p>\n    \t<a href=\"ecoute.html\"><img class=\"boutonno\" src=\"images/Bouton_NON.png\" alt=\"NON\"/></a>\n    </p>\n    </div>\n\n<!-- Ce script soumet le formulaire dès qu'un des choix est sélectionné -->\n<script type='text/javascript'>\n\n $(document).ready(function() { \n   $('input[name=choix]').change(function(){\n        $('form').submit();\n   });\n  });\n\n</script>\n</body>\n</html>","x":410,"y":680,"wires":[["fb9b3407.c6b948"]]},{"id":"fb9b3407.c6b948","type":"http response","z":"5c1fb11f.a36238","name":"Affiche Dest Alter","statusCode":"","headers":{},"x":650,"y":680,"wires":[]},{"id":"d07764e8.777568","type":"function","z":"5c1fb11f.a36238","name":"Redirect /impression-en-cours.html","func":"msg.res.redirect(\"/impression-en-cours.html\")\n","outputs":"0","noerr":0,"x":500,"y":800,"wires":[]},{"id":"990492f1.33b2e","type":"link out","z":"5c1fb11f.a36238","name":"Valid Calcul FE","links":["815f2c4.1fefdd","3622ddc8.edcf1a"],"x":335,"y":760,"wires":[],"inputLabels":["Destination Validée"]},{"id":"48d78148.475a","type":"function","z":"9aad894c.7d3ab","name":"Valid et Calcul","func":"msg.payload = \"Le calcul du trajet est en cours\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[[]]},{"id":"3622ddc8.edcf1a","type":"link in","z":"9aad894c.7d3ab","name":"Valid Calcul V","links":["990492f1.33b2e"],"x":135,"y":360,"wires":[["48d78148.475a"]]},{"id":"46a77239.fa1c4c","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/destination","method":"post","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["ab00866d.4711a","f801597a.fddb88"]]},{"id":"ab00866d.4711a","type":"function","z":"5c1fb11f.a36238","name":"Extraction","func":"DestiTrouve = global.get(\"DestiAlter\");\nchoix = parseInt(msg.payload.choix,10);\n\nDestiTrouve = DestiTrouve[choix];\nnode.warn(DestiTrouve)\n\nglobal.set(\"DestiTrouve\",DestiTrouve);\nglobal.set(\"DestiTrouveNom\",DestiTrouve.name);\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":600,"wires":[["f86fa5cc.df05f"]]},{"id":"8e8296f4.e939c","type":"function","z":"5c1fb11f.a36238","name":"Redirect /calcul-en-cours.html","func":"msg.res.redirect(\"/calcul-en-cours.html\")\n","outputs":"0","noerr":0,"x":610,"y":340,"wires":[]},{"id":"a85425da.9cac1","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/impressionticket","method":"get","upload":false,"swaggerDoc":"","x":180,"y":880,"wires":[["5ff4ecaa.bdaedc"]]},{"id":"95c5287f.0edcb","type":"comment","z":"5c1fb11f.a36238","name":"Ecran de fin","info":"","x":150.5555419921875,"y":838.8888854980469,"wires":[]},{"id":"5ff4ecaa.bdaedc","type":"function","z":"5c1fb11f.a36238","name":"Redirect /impressionticket.html","func":"msg.res.redirect(\"/impressionticket.html\")\n","outputs":"0","noerr":0,"x":590,"y":880,"wires":[]},{"id":"815f2c4.1fefdd","type":"link in","z":"c4976844.335cc","name":"Valid Calcul","links":["990492f1.33b2e"],"x":175,"y":620,"wires":[["6e34a095.9ddb28"]],"outputLabels":["Trajet Validé"]},{"id":"f86fa5cc.df05f","type":"function","z":"5c1fb11f.a36238","name":"Global msg","func":"msg.DestiTrouveNom = global.get(\"DestiTrouveNom\")\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["89d19e65.245d88","f801597a.fddb88"]]},{"id":"e74ca07f.a88ba","type":"link in","z":"c4976844.335cc","name":"Init Accueil","links":["de032523.180be"],"x":455,"y":80,"wires":[["79a156e7.81b57"]]},{"id":"de032523.180be","type":"link out","z":"5c1fb11f.a36238","name":"Init Accueil FE","links":["e74ca07f.a88ba"],"x":275,"y":100,"wires":[]},{"id":"8c56003f.602678","type":"ui_button","z":"3e5c5a8b.33dca6","name":"Re-essai","group":"e4c57225.0362d8","order":3,"width":"2","height":"1","passthru":false,"label":"Re-entrer destination","color":"","bgcolor":"indianred","icon":"fa-times","payload":"TabUI_1","payloadType":"str","topic":"","x":160,"y":420,"wires":[["6cceebd6.712374"]]},{"id":"8940d743.4d1e3","type":"ui_button","z":"3e5c5a8b.33dca6","name":"Retour départ","group":"c2802392.ac4ff8","order":0,"width":"5","height":"1","passthru":false,"label":"Retour au début","color":"","bgcolor":"","icon":"","payload":"OK","payloadType":"str","topic":"","x":180,"y":517,"wires":[["98b006c6.1b2118"]]},{"id":"4770aeee.b7766","type":"ui_button","z":"3e5c5a8b.33dca6","name":"Bonjour","group":"4a1b1fcf.7cb158","order":0,"width":"6","height":"1","passthru":false,"label":" Bonjour, activez le son du navigateur","color":"","bgcolor":"","icon":"fa-home","payload":"TabUI_1","payloadType":"str","topic":"","x":140,"y":80,"wires":[["b3669e95.a94418","f0c14867.4fc1b8"]]},{"id":"94d056c8.bd8008","type":"ui_button","z":"3e5c5a8b.33dca6","name":"","group":"f2dafee3.0e54d8","order":0,"width":"5","height":"1","passthru":false,"label":"Micro","color":"","bgcolor":"","icon":"fa-microphone","payload":"","payloadType":"str","topic":"","x":130,"y":160,"wires":[["d6bd4e9b.787f"]]},{"id":"a418bdc3.05589","type":"ui_button","z":"3e5c5a8b.33dca6","name":"OK ?","group":"e4c57225.0362d8","order":5,"width":"2","height":"1","passthru":false,"label":"Voir le trajet","color":"","bgcolor":"darkseagreen","icon":"fa-check","payload":"TabUI_3","payloadType":"str","topic":"","x":150,"y":360,"wires":[["6cceebd6.712374"]]},{"id":"40b632e9.c59e24","type":"ui_button","z":"3e5c5a8b.33dca6","name":"Bonjour","group":"85d23674.57052","order":0,"width":"6","height":"1","passthru":false,"label":"Profil validé","color":"","bgcolor":"","icon":"fa-home","payload":"TabUI_1","payloadType":"str","topic":"","x":160,"y":740,"wires":[["d65b027d.095a5"]]},{"id":"f3a8954.5738e68","type":"ui_switch","z":"3e5c5a8b.33dca6","name":"","label":"Poussette","group":"85d23674.57052","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"poussette","style":"","onvalue":"true","onvalueType":"bool","onicon":"check","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"close","offcolor":"","x":340,"y":620,"wires":[["648033f5.d35294"]]},{"id":"922bb083.12a61","type":"ui_switch","z":"3e5c5a8b.33dca6","name":"","label":"Fauteuil","group":"85d23674.57052","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"fauteuil","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":660,"wires":[["648033f5.d35294"]]},{"id":"18022837.00ed1","type":"ui_switch","z":"3e5c5a8b.33dca6","name":"","label":"Bagages","group":"85d23674.57052","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"bagages","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":340,"y":700,"wires":[["648033f5.d35294"]]},{"id":"b2d98421.36dde","type":"ui_text_input","z":"3e5c5a8b.33dca6","name":"Destination","label":"Destination ? (Entree)","group":"f2dafee3.0e54d8","order":2,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"destination","x":150,"y":200,"wires":[["d6bd4e9b.787f","f218428a.7df3f"]]},{"id":"799f438.34f54bc","type":"ui_text","z":"3e5c5a8b.33dca6","group":"e4c57225.0362d8","order":1,"width":0,"height":0,"name":"Destination demandée","label":"Destination demandée :","format":"{{msg.payload}}","layout":"col-center","x":560,"y":240,"wires":[]},{"id":"9819292a.1cdbb8","type":"ui_text","z":"3e5c5a8b.33dca6","group":"e4c57225.0362d8","order":2,"width":0,"height":0,"name":"Destination trouvée","label":"Destination trouvée : ","format":"{{msg.dest}}","layout":"row-spread","x":600,"y":320,"wires":[]},{"id":"a84e6a3d.f8c448","type":"ui_text","z":"3e5c5a8b.33dca6","group":"e4c57225.0362d8","order":4,"width":"1","height":"1","name":"Esp Bout","label":"   ","format":"{{msg.payload}}","layout":"row-spread","x":159,"y":390,"wires":[]},{"id":"b3669e95.a94418","type":"ui_ui_control","z":"3e5c5a8b.33dca6","name":"Tab suivant","x":530,"y":160,"wires":[[]]},{"id":"41bc47ae.d9db48","type":"ui_ui_control","z":"3e5c5a8b.33dca6","name":"Tab suivant","x":510,"y":527,"wires":[[]]},{"id":"6cceebd6.712374","type":"ui_ui_control","z":"3e5c5a8b.33dca6","name":"ChangeTab","x":510,"y":380,"wires":[[]]},{"id":"d65b027d.095a5","type":"ui_ui_control","z":"3e5c5a8b.33dca6","name":"Tab suivant","x":490,"y":740,"wires":[[]]},{"id":"8fd9e0df.97205","type":"ui_audio","z":"9aad894c.7d3ab","name":"AudioDashboard","group":"e4c57225.0362d8","voice":"fr-CA","always":true,"x":670,"y":220,"wires":[]},{"id":"90cf0d8b.10bdf8","type":"ui_template","z":"3e5c5a8b.33dca6","group":"c2802392.ac4ff8","name":"Afficher App React","order":0,"width":"0","height":"0","format":"<iframe src=\"http://192.168.0.11:3000\" width=700 height=300 ></iframe>\n<!-- width=500 height=500 -->","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":484,"wires":[[]]},{"id":"f43d77d5.690868","type":"ui_template","z":"3e5c5a8b.33dca6","group":"4a1b1fcf.7cb158","name":"Afficher image","order":0,"width":"5","height":"8","format":"<img src=/images/HellYeah.jpg width=10px >","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":340,"y":60,"wires":[[]]},{"id":"a57225e.f597c58","type":"exec","z":"9aad894c.7d3ab","command":"pico2wave -w /var/local/pico2wave.wav -l fr-FR \"","addpay":true,"append":"\" | aplay","useSpawn":"false","timer":"","oldrc":false,"name":"pico2wave","x":674,"y":147,"wires":[[],[],[]]},{"id":"28e6c75b.01763","type":"watch","z":"793e2a9e.37fbc4","name":"","files":"/home/pi/Test/recoVoc.txt","recursive":"","x":150,"y":60,"wires":[["60360bfd.7f60ec"]]},{"id":"60360bfd.7f60ec","type":"file in","z":"793e2a9e.37fbc4","name":"","filename":"/home/pi/Test/recoVoc.txt","format":"utf8","chunk":false,"sendError":false,"x":330,"y":100,"wires":[["d84c34fe.c8057"]]},{"id":"f424e5d1.4b6058","type":"subflow:793e2a9e.37fbc4","z":"c4976844.335cc","name":"","x":120,"y":380,"wires":[["f6c84f5a.52c02","f11876d9.b54d48"]]},{"id":"b7f17964.1e6c1","type":"link out","z":"5c1fb11f.a36238","name":"Dest Affiche FE","links":["69b2b287.3b3e24"],"x":675,"y":560,"wires":[]},{"id":"d84c34fe.c8057","type":"function","z":"793e2a9e.37fbc4","name":"Retire accents","func":"msg.payload = msg.payload.replace(/é|è|ê/gi,\"e\")\nmsg.payload = msg.payload.replace(/à|â/gi,\"a\")\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":60,"wires":[[]]},{"id":"5b31f2bc.127394","type":"link out","z":"c4976844.335cc","name":"Accueil","links":["3ae19dcf.a9a7e2"],"x":435,"y":300,"wires":[]},{"id":"3ae19dcf.a9a7e2","type":"link in","z":"9aad894c.7d3ab","name":"Accueil V","links":["5b31f2bc.127394"],"x":135,"y":40,"wires":[["c20094ca.c345b"]]},{"id":"c20094ca.c345b","type":"function","z":"9aad894c.7d3ab","name":"Bonjour","func":"msg.payload = \"Bonjour\";\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":40,"wires":[["5d35e767.d78ac"]]},{"id":"86f86976.b8ee6","type":"function","z":"c4976844.335cc","name":"DestiTrouvée ?","func":"if (typeof msg.payload.places !== 'undefined'){\n    return [msg, null]\n}\nelse {\n    return [null, msg];\n}","outputs":2,"noerr":0,"x":400,"y":533,"wires":[["40cde084.741b8"],["ebf70e0d.a51b9"]],"inputLabels":["API Navitia places"],"outputLabels":["Trouvé","Aucun résultat"],"icon":"node-red/switch.png"},{"id":"b2a04a1c.f1cd58","type":"link out","z":"5c1fb11f.a36238","name":"AutresDesti","links":["7c0034f.1f34acc"],"x":335,"y":700,"wires":[]},{"id":"7c0034f.1f34acc","type":"link in","z":"9aad894c.7d3ab","name":"AutresDesti V","links":["b2a04a1c.f1cd58"],"x":135,"y":320,"wires":[["bbcef85.0149b88"]]},{"id":"bbcef85.0149b88","type":"function","z":"9aad894c.7d3ab","name":"Autres Desti","func":"msg.payload = \"Ou bien celles-ci ?\" ;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[[]]},{"id":"1a3b72e8.c59da5","type":"debug","z":"9aad894c.7d3ab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":380,"wires":[]},{"id":"954df0d6.52b428","type":"function","z":"9aad894c.7d3ab","name":"Délai fin audio","func":"var delai = context.get('delai')||0;\nvar timestamp = Date.now();\nvar debut = context.get('debut')||0;\nvar intervalle = timestamp - debut;\n//node.warn(intervalle);\n//node.warn(delai);\n\nif (intervalle < delai){\n    msg.delay = delai;\n}\nelse {msg.delay = 0;}\n\ndelai = (msg.payload.length)*150;\ncontext.set('delai',delai);\ncontext.set('debut',timestamp)\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["be22326.02c3ed"]]},{"id":"ff3f895e.412398","type":"inject","z":"9aad894c.7d3ab","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":560,"wires":[["48d78148.475a"]]},{"id":"e42fb518.6f01b","type":"subflow:cac08cf8.5fb4a8","z":"c4976844.335cc","name":"init Profil","x":320,"y":300,"wires":[["5b31f2bc.127394"]]},{"id":"a0dcfb37.5c6b78","type":"http in","z":"5c1fb11f.a36238","name":"","url":"/ticket","method":"get","upload":false,"swaggerDoc":"","x":140,"y":960,"wires":[["59cac74.d053738"]]},{"id":"161ae8d0.1d33bf","type":"comment","z":"5c1fb11f.a36238","name":"Affichage ticket","info":"","x":160.5555419921875,"y":918.8888854980469,"wires":[]},{"id":"59cac74.d053738","type":"function","z":"5c1fb11f.a36238","name":"Redirect /3000","func":"msg.res.redirect(\"http://localhost:3000\")\n","outputs":"0","noerr":0,"x":540,"y":960,"wires":[]},{"id":"2679948a.19f23c","type":"inject","z":"c4976844.335cc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1520,"wires":[["f6e13e33.988908"]]},{"id":"f6e13e33.988908","type":"function","z":"c4976844.335cc","name":"Texte à imprimer","func":"msg.payload = \"Envie de voir un jour un vrai ticket ?      Suivez-nous sur http://facitrajet.strikingly.com\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1460,"wires":[["4c9f09b5.ca7fa","34fdaa27.0131be"]]},{"id":"34fdaa27.0131be","type":"debug","z":"c4976844.335cc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":1560,"wires":[]},{"id":"630917f6.efc878","type":"delay","z":"c4976844.335cc","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":1480,"wires":[["f6e13e33.988908"]]}]