node-red/20180301-FlowsVocal_DE_Dashboard.json
[{"id":"6d6edb75.a49a64","type":"tab","label":"Principal"},{"id":"154c191e.a1f90f","type":"tab","label":"Front End HTML"},{"id":"6207ccd8.624d3c","type":"tab","label":"F-E Dashboard","disabled":false,"info":""},{"id":"69d36efd.f5d708","type":"tab","label":"Vocal","disabled":false},{"id":"eb875026.03502","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"FaciTrajet","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":100,"gx":3,"gy":3,"cx":3,"cy":3,"px":0,"py":0}}},{"id":"bef52e3c.6f937","type":"ui_tab","z":"","name":"TabUI_1","icon":"dashboard"},{"id":"f2dafee3.0e54d8","type":"ui_group","z":"","name":"GroupeUI_1","tab":"bef52e3c.6f937","disp":true,"width":"6","collapse":false},{"id":"cd859f56.94aff","type":"ui_tab","z":"","name":"TabUI_2","icon":"dashboard"},{"id":"e4c57225.0362d8","type":"ui_group","z":"","name":"GroupeUI_2","tab":"cd859f56.94aff","disp":true,"width":"6","collapse":false},{"id":"78b99b7f.7ff43c","type":"ui_tab","z":"","name":"TabUI_3","icon":"dashboard","order":3},{"id":"c2802392.ac4ff8","type":"ui_group","name":"Group 1","tab":"78b99b7f.7ff43c","order":1,"disp":true,"width":6},{"id":"73af0faa.dc8b88","type":"ui_group","name":"Group 2","tab":"78b99b7f.7ff43c","order":2,"disp":true,"width":6},{"id":"e42679db.33eba8","type":"inject","z":"6d6edb75.a49a64","name":"","topic":"","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["e4afea0.34bb198","cae98aff.d5992"]]},{"id":"5d81e9e.de32918","type":"function","z":"6d6edb75.a49a64","name":"Heure-date","func":"\n// Create a Date object\nvar now = Date.now();\n// Départ dans 5 minutes soit 300s soit 300_000ms\nvar date = new Date(now+300000);\n// Change the payload to be a formatted Date string (format attendu par API Navitia)\nmsg.date = date.toISOString()\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":547,"wires":[["d6042be.79c05d8"]]},{"id":"e16dc6e1.353678","type":"http request","z":"6d6edb75.a49a64","name":"Calcul Trajet Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/journeys?from={{start}}&to={{dest}}&datetime={{date}}&max_nb_journeys=1&forbidden_uris[]={{interdit}}&disable_geojson=True","tls":"","x":320,"y":587,"wires":[["329c84df.3d5abc","14fe42f8.a4ca2d"]]},{"id":"cae98aff.d5992","type":"function","z":"6d6edb75.a49a64","name":"Init et Entrée Destination","func":"global.set(\"DestiTrouve\",\"\");\nglobal.set(\"NomDestiTrouve\",\"\");\nmsg.dest = {};\n//msg.dest = 'stop_point:STA:SP:5020';\n//msg.dest = \"Republique\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["30cc1859.894098"]]},{"id":"5c120c97.36ced4","type":"function","z":"6d6edb75.a49a64","name":"Brique Julien JSON","func":"// A ECRIRE\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1287,"wires":[[]]},{"id":"e4afea0.34bb198","type":"function","z":"6d6edb75.a49a64","name":"CONST Empl. Borne","func":"// Définit l'emplacement de la borne \n// Utilisable comme le point de départ\n// accessible à tous les nodes\nglobal.set(\"emplacement\", \"stop_point:STA:SP:1536\");\nglobal.set(\"NomEmplacement\", \"Clos Courtel (Rennes)\");\n//Arrêt : Clos Courtel (Rennes)\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":40,"wires":[["55998f89.b337c"]]},{"id":"6cc0259c.12515c","type":"exec","z":"6d6edb75.a49a64","command":"pcsc_scan -n","addpay":false,"append":"","useSpawn":"true","timer":"","name":"Détection Carte","x":140,"y":120,"wires":[["b77709c9.14f66"],[],[]]},{"id":"6df886e2.8883a","type":"function","z":"6d6edb75.a49a64","name":"Comparaison Profil/parcours","func":"// s'inspirer de \n//http://doc.navitia.io/#journey-qualification-process\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1320,"wires":[["5c120c97.36ced4"]]},{"id":"2930151b.0709ba","type":"exec","z":"6d6edb75.a49a64","command":"echo \"Impression\"","addpay":true,"append":"","useSpawn":true,"timer":"","name":"Impression locale","x":360,"y":1370,"wires":[[],[],[]]},{"id":"2a468e56.df0cc2","type":"file","z":"6d6edb75.a49a64","name":"Ecriture Fichier Julien","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":380,"y":1160,"wires":[]},{"id":"8ccb8deb.018d28","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":367,"wires":[["39082268.70a46e"]]},{"id":"39082268.70a46e","type":"http request","z":"6d6edb75.a49a64","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":410,"wires":[["734e169a.b49cc8","b80a3963.99ce7"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"b77709c9.14f66","type":"switch","z":"6d6edb75.a49a64","name":"Filtre Insertion/retrait","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"inserted","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":120,"wires":[[]]},{"id":"caabecd1.91a61","type":"comment","z":"6d6edb75.a49a64","name":"Recherche Dest","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":100,"y":280,"wires":[]},{"id":"b80a3963.99ce7","type":"function","z":"6d6edb75.a49a64","name":"Points Dep-Arr","func":"msg.dest = {};\n\nmsg.dest = msg.payload.places[0].id;\n\nvar depart = global.get(\"emplacement\");\nmsg.start = {};\nmsg.start = depart;\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":507,"wires":[["5d81e9e.de32918"]]},{"id":"55998f89.b337c","type":"function","z":"6d6edb75.a49a64","name":"CONST Token Navitia","func":"\n// Définit le token d'appel Navitia\n// accessible à tous les nodes\nglobal.set(\"TokenNavitia\", \"dea0d6a8-7c09-40d7-b9a3-7c19f9f57ef7\");\n\nmsg.payload = 'on est partis !'\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":80,"wires":[["7c6da27c.db56fc"]]},{"id":"d6042be.79c05d8","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":587,"wires":[["e16dc6e1.353678"]]},{"id":"fb2de494.5f2138","type":"http in","z":"154c191e.a1f90f","name":"/test?q=","url":"/test","method":"get","swaggerDoc":"","x":147,"y":131,"wires":[["b4ec1574.7d877"]]},{"id":"8ec277a7.15229","type":"http response","z":"154c191e.a1f90f","name":"Réponse HTTP","x":529.5,"y":147,"wires":[]},{"id":"68758aac.0f989c","type":"comment","z":"154c191e.a1f90f","name":"Essai FrontEnd requetes","info":"","x":198,"y":94,"wires":[]},{"id":"b4ec1574.7d877","type":"template","z":"154c191e.a1f90f","name":"message HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload.q}} ! </br>\n<a href=http://metromix.io> lien vers metromix </a>","x":341,"y":155,"wires":[["8ec277a7.15229"]]},{"id":"30cc1859.894098","type":"join","z":"6d6edb75.a49a64","name":"Synchro demande","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":390,"y":240,"wires":[["c451894b.2a6cc"]]},{"id":"c451894b.2a6cc","type":"switch","z":"6d6edb75.a49a64","name":"Filtre Bon Ordre","property":"payload[1].dest","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":580,"y":240,"wires":[["e1292d93.d10d58"]]},{"id":"e1292d93.d10d58","type":"function","z":"6d6edb75.a49a64","name":"Format Dest","func":"msg.dest = msg.payload[1].dest;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":327,"wires":[["8ccb8deb.018d28"]]},{"id":"734e169a.b49cc8","type":"function","z":"6d6edb75.a49a64","name":"GLOBAL Dest trouvée","func":"// accessible à tous les nodes\nglobal.set(\"DestiTrouve\", msg.payload.places[0]);\nglobal.set(\"NomDestiTrouve\", msg.payload.places[0].name);\nmsg.payload = msg.payload.places[0].name\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":410,"wires":[["f5950f47.b73668"]]},{"id":"5fbd6132.1d2bb","type":"play audio","z":"69d36efd.f5d708","name":"TTS","voice":"5","x":630,"y":200,"wires":[]},{"id":"5f64e6b7.1c9f5","type":"function","z":"69d36efd.f5d708","name":"TrajetFourni","func":"depart = global.get(\"NomEmplacement\")\narrive = global.get(\"NomDestiTrouve\")\nmsg.payload = \"Le trajet entre \" + depart + \"et \" + arrive + \"a été fourni.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":260,"wires":[["81d94eed.fbaac8"]]},{"id":"273456e3.6537f2","type":"link in","z":"69d36efd.f5d708","name":"Trajet Fourni V","links":["6255c3c2.885954","d68a0037.c3916"],"x":135,"y":260,"wires":[["5f64e6b7.1c9f5"]]},{"id":"86499045.b4c1d","type":"link in","z":"69d36efd.f5d708","name":"Dest Demandée V","links":["73fc9aa3.510014"],"x":135,"y":140,"wires":[["3514770a.5ccd88"]]},{"id":"3514770a.5ccd88","type":"function","z":"69d36efd.f5d708","name":"Dest demandée","func":"msg.payload = \"La destination demandée est\" + msg.payload ;\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["81d94eed.fbaac8"]]},{"id":"f5950f47.b73668","type":"link out","z":"6d6edb75.a49a64","name":"Dest Trouvée","links":["34827ccd.618624","b4854be9.fab418"],"x":565,"y":410,"wires":[]},{"id":"2353fec2.4e8c72","type":"http in","z":"154c191e.a1f90f","name":"/at","url":"/at","method":"get","swaggerDoc":"","x":130,"y":380,"wires":[["faa3394b.af8bf8"]]},{"id":"50b54e38.44248","type":"http response","z":"154c191e.a1f90f","name":"Affiche Dest Trouvée","x":660,"y":380,"wires":[]},{"id":"427d0197.a4d898","type":"comment","z":"154c191e.a1f90f","name":"Dest trouvée","info":"Affichage de la destination trouvée\nà partir de l'indication Usager","x":150.5555419921875,"y":338.8888854980469,"wires":[]},{"id":"34827ccd.618624","type":"link in","z":"69d36efd.f5d708","name":"Dest Trouvée V","links":["f5950f47.b73668"],"x":135,"y":200,"wires":[["cc413a49.4852b"]]},{"id":"cc413a49.4852b","type":"function","z":"69d36efd.f5d708","name":"Dest Trouvée","func":"msg.payload = \"La destination trouvée est\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["81d94eed.fbaac8"]]},{"id":"2ac66886.80ec1","type":"http request","z":"6d6edb75.a49a64","name":"DataExplore","method":"GET","ret":"obj","url":"https://data.explore.star.fr/api/records/1.0/search//?dataset=tco-metro-equipements-etat-tr&q={{station}}&lang=fr&rows=100","tls":"","x":130,"y":710,"wires":[["cebf3932.5146e"]]},{"id":"f5d0d690.f73358","type":"http in","z":"154c191e.a1f90f","name":"Input Usager /a?dest=","url":"/a","method":"get","swaggerDoc":"","x":180,"y":260,"wires":[["d83701bb.222aa8","bd9cbd8c.04033","e7d20169.0c252"]]},{"id":"88de739.441a99","type":"http response","z":"154c191e.a1f90f","name":"Affiche Dest demandée","x":731,"y":281,"wires":[]},{"id":"d83701bb.222aa8","type":"template","z":"154c191e.a1f90f","name":"Demande","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La destination demandée est : {{payload.dest}} . <br>\nLa destination trouvée par la borne sera ici : <a href=/at> destination trouvée </a>","x":501,"y":281,"wires":[["88de739.441a99"]]},{"id":"73fc9aa3.510014","type":"link out","z":"154c191e.a1f90f","name":"Dest Demand","links":["86499045.b4c1d"],"x":636,"y":241,"wires":[]},{"id":"bd9cbd8c.04033","type":"template","z":"154c191e.a1f90f","name":"Dest Demandée","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.dest}}","x":521,"y":241,"wires":[["73fc9aa3.510014"]]},{"id":"7d9563be.b8819c","type":"comment","z":"154c191e.a1f90f","name":"Dest Demandée","info":"","x":160,"y":220,"wires":[]},{"id":"e7d20169.0c252","type":"link out","z":"154c191e.a1f90f","name":"DestInput","links":["8a8be081.4bc84"],"x":455,"y":320,"wires":[]},{"id":"8a8be081.4bc84","type":"link in","z":"6d6edb75.a49a64","name":"Dest Input","links":["e7d20169.0c252","1888d9d3.1d8a4e"],"x":245,"y":200,"wires":[["30cc1859.894098"]]},{"id":"d7e2e255.4684e8","type":"inject","z":"154c191e.a1f90f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":480,"wires":[["722edb06.533adc"]]},{"id":"cc746c33.d3556","type":"comment","z":"154c191e.a1f90f","name":"Lancement serveur","info":"Un serveur HTTP simple se lance \nen python sur le port 8000\nau démarrage du flow,\npour servir les pages de front-end \nrangées dans le dossier /home/facitrajet/Site-Facitrajet","x":169,"y":440,"wires":[]},{"id":"722edb06.533adc","type":"exec","z":"154c191e.a1f90f","command":"cd /home/facitrajet/Site-Facitrajet","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Serveur HTTP && python -m SimpleHTTPServer","x":440,"y":480,"wires":[[],["71aa13c0.cb2434"],["71aa13c0.cb2434"]]},{"id":"81d94eed.fbaac8","type":"template","z":"69d36efd.f5d708","name":"On Off","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":470,"y":200,"wires":[["bf523879.492ec8"]]},{"id":"faa3394b.af8bf8","type":"function","z":"154c191e.a1f90f","name":"Nom DestiTrouve + Lien Ticket","func":"msg.payload = \"La destination trouvée est : \" + global.get(\"DestiTrouve\").name + \". <br><a href=http://192.168.0.11:3000> lien vers le ticket </a>\";\n//http://192.168.0.11:3000/\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":380,"wires":[["50b54e38.44248"]]},{"id":"71aa13c0.cb2434","type":"debug","z":"154c191e.a1f90f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":540,"wires":[]},{"id":"b0c1e246.0ba0d8","type":"function","z":"6d6edb75.a49a64","name":"Google Voice AIY","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[[]]},{"id":"411041d6.da6158","type":"rpi-gpio in","z":"6d6edb75.a49a64","name":"Bouton Physique","pin":"7","intype":"tri","debounce":"25","read":false,"x":240,"y":160,"wires":[[]]},{"id":"7d10d495.455654","type":"ui_form","z":"6207ccd8.624d3c","name":"Demande desti","label":"","group":"f2dafee3.0e54d8","order":0,"width":0,"height":0,"options":[{"label":"Quelle est votre destination ?","value":"destination","type":"text","required":true}],"formValue":{"destination":""},"payload":"","topic":"","x":140,"y":120,"wires":[["ae073ef4.56b8e8","93ce6679.b5fbc"]]},{"id":"25938423.5ce434","type":"ui_text","z":"6207ccd8.624d3c","group":"e4c57225.0362d8","order":0,"width":0,"height":0,"name":"Destination demandée","label":"Destination demandée :","format":"{{msg.payload.destination}}","layout":"col-center","x":650,"y":80,"wires":[]},{"id":"f7b665a5.c30c9","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"Tab suivant","x":460,"y":80,"wires":[["25938423.5ce434"]]},{"id":"3337af0f.4eefc","type":"file in","z":"6d6edb75.a49a64","name":"trajetScript.json","filename":"/home/facitrajet/Metromix/src/trajetScript.json","format":"utf8","chunk":false,"sendError":false,"x":160,"y":1320,"wires":[["42d17d8c.66c3e4"]]},{"id":"42d17d8c.66c3e4","type":"json","z":"6d6edb75.a49a64","name":"","property":"payload","action":"","pretty":false,"x":270,"y":1280,"wires":[[]]},{"id":"12f143c.5c69a3c","type":"inject","z":"6d6edb75.a49a64","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1280,"wires":[["3337af0f.4eefc"]]},{"id":"329c84df.3d5abc","type":"function","z":"6d6edb75.a49a64","name":"Decoupe Stations M","func":"sections = msg.payload.journeys[0].sections;\nj = sections.length;\nmsg.metro = false;\nmsg.panne = false;\n\nfor (i = 0; i<j; i++) {\n    if (typeof sections[i].display_informations !== 'undefined'){\n\n        if (sections[i].display_informations.physical_mode == \"Métro\") {\n            node.send({station:sections[i].from.stop_point.name, metro:true});\n            node.send({station:sections[i].to.stop_point.name, metro:true});\n            msg.metro = true;\n        }\n            \n        \n    }\n}\n//si aucune section en métro, retourner le message\nif (!msg.metro){return msg;}","outputs":1,"noerr":0,"x":160,"y":660,"wires":[["4ae30d4d.a3f70c"]]},{"id":"cebf3932.5146e","type":"function","z":"6d6edb75.a49a64","name":"Filtre Premier ESC/ASC indispo","func":"objets = msg.payload.records;\nj = objets.length;\n\nfor (i = 0; i<j; i++) {\n    if (typeof objets[i].fields.idequipement !== 'undefined'){\n\n        if (objets[i].fields.idequipement.match(\"SC\") && objets[i].fields.etat.match(\"Indisponible\")) {\n            //ASC ou ESC\n            //node.send(\n            return(\n                {\n                 \"objet\": objets[i].fields.idequipement,\n                 \"nom\" : objets[i].fields.nom ,\n                 \"station\" : objets[i].fields.nomstation,\n                 \"panne\" : true,\n                 \"complete\" : true, //pour déclencher le 'join' qui suit\n                });\n            //; etat:objets[i].fields.etat});\n            //node.send({etat:sections[i].to.stop_point.name});\n        }\n            \n        \n    }\n}\n//sinon retourne le trajet déjà calculé\n// avec l'item panne:false\nmsg.panne = false;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":750,"wires":[["77bc2abe.22b99c"]]},{"id":"efe2e59f.b655b","type":"comment","z":"6d6edb75.a49a64","name":"Calcul du trajet","info":"calcul du meilleur itinéraire\nvia l'API Navitia","x":100,"y":460,"wires":[]},{"id":"ec5b4b04.4f3598","type":"comment","z":"6d6edb75.a49a64","name":"Verif obstacles","info":"Requête éléments en panne\nvia API Data.explore","x":100,"y":620,"wires":[]},{"id":"4aab64bb.659f2c","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":893,"wires":[["146a1ce7.51757b"]]},{"id":"146a1ce7.51757b","type":"http request","z":"6d6edb75.a49a64","name":"Recherche Dest Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/coverage/fr-bre/places?q={{dest}}&type[]=stop_point&from\"48.1113;-1.6794\"&disable_geojson=True","tls":"","x":170,"y":933,"wires":[["69a9120c.64405c"]],"inputLabels":["Demande formatée API"],"outputLabels":["Liste Objets"]},{"id":"278a9603.b55382","type":"comment","z":"6d6edb75.a49a64","name":"Calcul URI Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":110,"y":813,"wires":[]},{"id":"5f41f17a.c5f508","type":"function","z":"6d6edb75.a49a64","name":"Format Station","func":"new_msg = {};\nnew_msg.dest = encodeURI(msg.station);\nreturn new_msg;","outputs":1,"noerr":0,"x":140,"y":853,"wires":[["4aab64bb.659f2c"]]},{"id":"69a9120c.64405c","type":"function","z":"6d6edb75.a49a64","name":"Extraction URI Métro","func":"if (typeof msg.payload.places == 'undefined'){\n    return null;\n}\n\nj = msg.payload.places.length;\n\nfor (i=0; i<j; i++){\n    if (msg.payload.places[i].stop_point.id.match(\"SP:5\")){\n        msg.interdit = msg.payload.places[i].id;\n        return msg\n    }\n} \n\nreturn null;","outputs":1,"noerr":0,"x":400,"y":933,"wires":[["bc7e17a4.d930b8"]]},{"id":"f96dff45.a702c8","type":"link out","z":"6d6edb75.a49a64","name":"Panne","links":["db21854a.a0d5d"],"x":685,"y":750,"wires":[]},{"id":"db21854a.a0d5d","type":"link in","z":"69d36efd.f5d708","name":"Panne V","links":["f96dff45.a702c8"],"x":135,"y":360,"wires":[["3b179da0.5ce4a2"]]},{"id":"3b179da0.5ce4a2","type":"function","z":"69d36efd.f5d708","name":"Panne Trouvée","func":"station = msg.station\nobjet = msg.nom.replace(\"->\",\" vers \")\ntype = (msg.objet.match(\"ASC\")) ? \"ascenseur\":\"escalier\";\n\nmsg.payload = \"Une panne a été trouvée, à la station \" + station + \", sur \" + type +\", \" + objet + \".\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":360,"wires":[["81d94eed.fbaac8"]]},{"id":"41f9cedf.7116f","type":"function","z":"6d6edb75.a49a64","name":"Heure-date","func":"\n// Create a Date object\nvar now = Date.now();\n// Départ dans 5 minutes soit 300s soit 300_000ms\nvar date = new Date(now+300000);\n// Change the payload to be a formatted Date string (format attendu par API Navitia)\nmsg.date = date.toISOString()\n\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1053,"wires":[["778c0834.9cf82"]]},{"id":"8ab8ad4d.1b5f28","type":"http request","z":"6d6edb75.a49a64","name":"Calcul Trajet Navitia","method":"GET","ret":"obj","url":"https://api.navitia.io/v1/journeys?from={{start}}&to={{dest}}&datetime={{date}}&max_nb_journeys=1&forbidden_uris[]={{interdit}}&disable_geojson=True","tls":"","x":320,"y":1093,"wires":[["6255c3c2.885954","b82d3445.e10e5"]]},{"id":"bc7e17a4.d930b8","type":"function","z":"6d6edb75.a49a64","name":"Points Dep-Arr","func":"msg.dest = global.get(\"DestiTrouve\").id;\nmsg.start = global.get(\"emplacement\");\n\n\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":1013,"wires":[["41f9cedf.7116f"]]},{"id":"778c0834.9cf82","type":"function","z":"6d6edb75.a49a64","name":"Auth Header","func":"msg.headers = {}\nmsg.headers['Authorization'] = global.get(\"TokenNavitia\");\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":1093,"wires":[["8ab8ad4d.1b5f28"]]},{"id":"9f8cdaa3.ac6a68","type":"comment","z":"6d6edb75.a49a64","name":"Calcul Trajet sans Obstacle","info":"Le listing des destinations par l'API se fait \nà partir d'un point de départ géographique.\nCelui indiqué est l'Hotel de Ville.\n\nadmin_uri[]=admin:fr:35238 // commune de Rennes\ndisable_geojson=True // réduit la BP nécessaire\n\nLes erreurs (pas de résultat) ne sont pas gérées\npour le moment.","x":130,"y":973,"wires":[]},{"id":"b8997211.7fcb9","type":"switch","z":"6d6edb75.a49a64","name":"2 si panne","property":"panne","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":630,"y":710,"wires":[["ed9f1fc1.6dbba"],["5f41f17a.c5f508","f96dff45.a702c8"]],"outputLabels":["Pas de panne","Station en panne"]},{"id":"6255c3c2.885954","type":"link out","z":"6d6edb75.a49a64","name":"Trajet Fourni","links":["273456e3.6537f2"],"x":485,"y":1120,"wires":[]},{"id":"9e04ae5d.196428","type":"ui_template","z":"6207ccd8.624d3c","group":"c2802392.ac4ff8","name":"Afficher App React","order":0,"width":0,"height":0,"format":"<iframe src=\"http://192.168.0.11:3000\" width=500 height=500></iframe>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":190,"y":450,"wires":[[]]},{"id":"4ae30d4d.a3f70c","type":"switch","z":"6d6edb75.a49a64","name":"2 si Métro","property":"metro","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":660,"wires":[["b8997211.7fcb9"],["2ac66886.80ec1"]]},{"id":"ed462f5d.e10738","type":"debug","z":"6d6edb75.a49a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":830,"wires":[]},{"id":"67650226.359abc","type":"debug","z":"6d6edb75.a49a64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":600,"y":880,"wires":[]},{"id":"12a3c28.04019be","type":"link in","z":"69d36efd.f5d708","name":"PasPanne V","links":["ed9f1fc1.6dbba"],"x":135,"y":310,"wires":[["9f4bc3f9.7f788"]]},{"id":"9f4bc3f9.7f788","type":"function","z":"69d36efd.f5d708","name":"Pas de panne","func":"return {payload:\"Aucune panne détectée sur votre trajet\"}","outputs":1,"noerr":0,"x":280,"y":310,"wires":[["81d94eed.fbaac8","5f64e6b7.1c9f5"]]},{"id":"ed9f1fc1.6dbba","type":"link out","z":"6d6edb75.a49a64","name":"PasPanne","links":["12a3c28.04019be"],"x":685,"y":670,"wires":[]},{"id":"24084662.92b49a","type":"inject","z":"69d36efd.f5d708","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":470,"wires":[["9f4bc3f9.7f788"]]},{"id":"e3cf27b0.8428f8","type":"delay","z":"69d36efd.f5d708","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":560,"y":240,"wires":[["5fbd6132.1d2bb"]]},{"id":"7c6da27c.db56fc","type":"function","z":"6d6edb75.a49a64","name":"CONST Fichier Trajet","func":"global.set(\"FichierTrajet\",\"/home/facitrajet/Metromix/src/trajetScript.json\")\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":40,"wires":[[]]},{"id":"a3406a96.8f26d8","type":"function","z":"6d6edb75.a49a64","name":"Get Filename","func":"msg.filename = global.get(\"FichierTrajet\");\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":1160,"wires":[["2a468e56.df0cc2"]]},{"id":"b82d3445.e10e5","type":"link out","z":"6d6edb75.a49a64","name":"FichierTrajet Input","links":["6ef4a0a7.57257"],"x":485,"y":1093,"wires":[]},{"id":"6ef4a0a7.57257","type":"link in","z":"6d6edb75.a49a64","name":"FichierTrajet W","links":["b82d3445.e10e5","14fe42f8.a4ca2d"],"x":75,"y":1160,"wires":[["a3406a96.8f26d8"]]},{"id":"14fe42f8.a4ca2d","type":"link out","z":"6d6edb75.a49a64","name":"FichierTrajet Input","links":["6ef4a0a7.57257"],"x":495,"y":590,"wires":[]},{"id":"77bc2abe.22b99c","type":"join","z":"6d6edb75.a49a64","name":"","mode":"custom","build":"array","property":"","propertyType":"full","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":360,"y":710,"wires":[["b8997211.7fcb9","ed462f5d.e10738"]]},{"id":"782e79fa.372fb","type":"ui_text","z":"6207ccd8.624d3c","group":"e4c57225.0362d8","order":0,"width":0,"height":0,"name":"Destination trouvée","label":"Destination trouvée : ","format":"{{msg.dest}}","layout":"row-spread","x":600,"y":260,"wires":[]},{"id":"ae073ef4.56b8e8","type":"function","z":"6207ccd8.624d3c","name":"tab 2","func":"msg.payload.tab = \"TabUI_2\";\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["f7b665a5.c30c9"]]},{"id":"63cbe01c.f72d88","type":"function","z":"6207ccd8.624d3c","name":"Desti Trouvée","func":"msg.dest = global.get(\"NomDestiTrouve\")\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":260,"wires":[["782e79fa.372fb"]]},{"id":"b4854be9.fab418","type":"link in","z":"6207ccd8.624d3c","name":"DestiTrouve FE","links":["f5950f47.b73668"],"x":105,"y":260,"wires":[["63cbe01c.f72d88"]]},{"id":"a7e0b8a4.1a5058","type":"ui_button","z":"6207ccd8.624d3c","name":"OK ?","group":"e4c57225.0362d8","order":0,"width":0,"height":0,"passthru":false,"label":"OK","color":"","bgcolor":"","icon":"","payload":"OK","payloadType":"str","topic":"","x":150,"y":340,"wires":[["f0a723b3.e00e1"]]},{"id":"acc47059.9ab838","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"Tab suivant","x":500,"y":340,"wires":[[]]},{"id":"f0a723b3.e00e1","type":"function","z":"6207ccd8.624d3c","name":"tab 3","func":"msg.payload = {tab:\"TabUI_3\"};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":340,"wires":[["acc47059.9ab838"]]},{"id":"1888d9d3.1d8a4e","type":"link out","z":"6207ccd8.624d3c","name":"Dest Demandée FE","links":["8a8be081.4bc84"],"x":465,"y":120,"wires":[]},{"id":"93ce6679.b5fbc","type":"template","z":"6207ccd8.624d3c","name":"Dest Demandée","field":"payload.dest","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.destination}}","output":"str","x":340,"y":120,"wires":[["1888d9d3.1d8a4e"]]},{"id":"7756705c.48c468","type":"ui_button","z":"6207ccd8.624d3c","name":"Retour départ","group":"c2802392.ac4ff8","order":0,"width":"2","height":"1","passthru":false,"label":"Retour au début","color":"","bgcolor":"","icon":"","payload":"OK","payloadType":"str","topic":"","x":180,"y":490,"wires":[["3f909081.5f2438"]]},{"id":"ecf717bc.44eaa8","type":"ui_ui_control","z":"6207ccd8.624d3c","name":"Tab suivant","x":500,"y":490,"wires":[[]]},{"id":"3f909081.5f2438","type":"function","z":"6207ccd8.624d3c","name":"tab 1","func":"msg.payload = {tab:\"TabUI_1\"};\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":490,"wires":[["ecf717bc.44eaa8"]]},{"id":"48a682bb.a0be74","type":"debug","z":"6207ccd8.624d3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":550,"wires":[]},{"id":"bf523879.492ec8","type":"ui_audio","z":"69d36efd.f5d708","name":"AudioDashboard","group":"f2dafee3.0e54d8","voice":"fr-CA","always":true,"x":670,"y":160,"wires":[]}]